{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="card home2" id="home-container">
    <div id="home" class="smarkdown"></div>
</div>
<h2>Announcements</h2>
{% for announcement in props["data"] %}
    <div class="card post-card">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3>{{ announcement["name"] }}</h3>
        <p style="margin: 0;">Posted <span class="dt">{{ announcement["date"] }}</span></p>
        <div id="announcement-{{ announcement['id'] }}" class="smarkdown"></div>
    </div>
{% endfor %}
<div id="pagination" data-pages="{{ props['length'] }}"></div>
{% endblock %}
{% block script %}
<script>
    inject(document.getElementById("home"), {{ props["homepage"] | tojson }}, true);
    const idList = []
    {% for announcement in props["data"] %}
        idList.push({{ announcement['id'] }})
    {% endfor %}
    fetch("/api/announcements?id=" + idList).then(b => b.text())
            .then(b => JSON.parse(b)).then(b => {
        if (b["status"] !== "success") {
            console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
            return;
        }
        for (let id of idList) {
            inject(document.getElementById("announcement-" + id), b["data"][id], false);
        }
        seeMore();
    });
</script>
{% endblock %}
