{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block preload %}
<link rel="preload" href="/api/homepage" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<div class="card home2" id="home-container">
    <div id="home" class="hidden"></div>
</div>
<h2>Announcements</h2>
{% for announcement in data %}
    <link rel="preload" href="/api/announcement/{{ announcement['id'] }}" as="fetch" crossorigin="anonymous">
    <div class="card post-card">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3>{{ announcement["name"] }}</h3>
        <p style="margin: 0;">Posted <span class="dt">{{ announcement["date"] }}</span></p>
        <div id="announcement-{{ announcement['id'] }}" class="hidden smarkdown"></div>
    </div>
{% endfor %}
<div id="pagination" data-pages="{{ length }}"></div>
{% endblock %}
{% block script %}
<script>
    {% for announcement in data %}
        fetch("/api/announcement/{{ announcement['id'] }}").then(b => b.text())
            .then(b => inject(document.getElementById("announcement-{{ announcement['id'] }}"), b, true));
    {% endfor %}

    const homeDiv = document.getElementById("home");
    fetch("/api/homepage").then(b => b.text()).then(b => inject(homeDiv, b, true));
</script>
{% endblock %}
