# Problem files
/dl/
/metadata/

# Database
/database.db
/database.db.bak
/database_test.db

# Python Cache
/__pycache__/
/tests/__pycache__/

# Private config
/settings.py
/secret_key.txt

# Logs
/logs/
