# Problem files
/dl/
/metadata/

# Database
/database.db
/database.db.bak
/database_test.db
database_test.db-journal

# Python Cache
/__pycache__/
/tests/__pycache__/
.pytest_cache/

# Private config
/settings.py
/secret_key.txt

# Logs
/logs/

# Coverage reports
.coverage
coverage.xml

# testing artifacts
test_upload.txt
