{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block active %}Home{% endblock %}

{% block main %}
<h1>Announcements</h1>
{% if session["admin"] %}
    <div id="confirm" class="hidden">
        <form method="post" style="margin-bottom: 1rem;" action="/admin/deleteannouncement">
            <input class="btn btn-danger"
                   type="submit"
                   value="Are you sure you want to delete this announcement? Click here to confirm.">
            <input type="hidden" name="aid" value="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
{% endif %}
{% for announcement in data %}
    <link rel="preload" href="/api/announcement/{{ announcement['id'] }}" as="fetch" crossorigin="anonymous">
    <div class="card post-card">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3>{{ announcement["name"] }}</h3>
        <p style="margin: 0;">Posted <span class="dt">{{ announcement["date"] }}</span></p>
        <div id="announcement-{{ announcement['id'] }}" class="hidden smarkdown"></div>
        {% if session["admin"] %}
            <a href="/admin/editannouncement/{{ announcement['id'] }}"
               style="position: absolute; top: 12px; right: 36px;">
                <img src="/assets/images/pencil.svg"
                     onerror="this.src='/assets/images/pencil.png'"
                     alt="Edit announcement"
                     class="icon">
            </a>
            <a data-id="{{ announcement['id'] }}"
               href="#"
               class="btn-delete"
               style="position: absolute; top: 12px; right: 16px;">
                <img src="/assets/images/trash.svg"
                     onerror="this.src='/assets/images/trash.png'"
                     alt="Delete announcement"
                     class="icon">
            </a>
        {% endif %}
    </div>
{% endfor %}
<div id="pagination" data-pages="{{ length }}"></div>
{% endblock %}
{% block script %}
<script>
    {% for announcement in data %}
        fetch("/api/announcement/{{ announcement['id'] }}").then(b => b.text())
            .then(b => inject(document.getElementById("announcement-{{ announcement['id'] }}"), b, true));
    {% endfor %}
    for (let node of document.getElementsByClassName("btn-delete")) {
        node.addEventListener("click", function() {
            let id = this.getAttribute("data-id");
            document.getElementById("confirm").style.display = "block";
            document.querySelector("#confirm input[name='aid']").setAttribute("value", id);
        });
    }
    
</script>
{% endblock %}
