<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#0d6efd">

        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/static/favicon.png" rel="icon">

        <title>{% block title %}{% endblock %} | {{ CLUB_NAME }}</title>

        {% block preload %}{% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">{{ CLUB_NAME }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar" aria-controls="navbarText" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar" data-active="{% block active %}{% endblock %}">
                    {% if session.user_id %}
                        <ul class="navbar-nav me-auto">
                            <li><a class="nav-link" href="/">Home</a></li>
                            <li><a class="nav-link" href="/problems">Practice</a></li>
                            <li><a class="nav-link" href="/contests">Contests</a></li>
                            <li><a class="nav-link" href="/ranking">Ranking</a></li>
                            {% if session.admin %}
                                <li><a class="nav-link" href="/admin/console">Admin Console</a></li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav">
                            <div class="form-check form-switch nav-link">
                                <input class="form-check-input dark-toggle"
                                       type="checkbox">
                            </div>
                            <li class="nav-link white">Welcome, {{ session.username }}</li>
                            <li><a class="nav-link" href="/users/{{ session.username }}/profile">Profile</a></li>
                            <li><a class="nav-link" href="/settings">Settings</a></li>
                            <li><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto">
                            <div class="form-check form-switch nav-link">
                                <input class="form-check-input dark-toggle"
                                       type="checkbox">
                            </div>
                            <li><a class="nav-link" href="/register">Register</a></li>
                            <li><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <main class="container">
            {% with msg = get_flashed_messages(with_categories=True) %}
                {% if msg %}
                    {% for category, message in msg %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show"
                             role="alert">
                            {{ message }}
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block main %}{% endblock %}
        </main>
        <footer>
            <hr>
            <p class="text-center">
                &copy; 2020-2023, {{ CLUB_NAME }}.
                <a href="https://github.com/jdabtieu/CTFOJ">Source Code</a> -
                <a href="/terms">Terms of Service</a> -
                <a href="/privacy">Privacy Policy</a>
            </p>
        </footer>

        <script src="/assets/js/nav.js"></script>
        <script src="/assets/js/showdown.min.js"></script>
        <script src="/assets/js/purify.min.js"></script>
        <script src="/assets/js/convertMD.js"></script>
        {% block script %}{% endblock %}
        <script src="/assets/js/seeMore.js"></script>
        <script src="/assets/js/newPagination.js"></script>
        <script src="/assets/js/dateConvert.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
