{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block main %}
<h1 class="text-center">Log In</h1>
<form method="post">
    <input autocomplete="off" autofocus class="form-control mb-3" name="username" placeholder="Username" type="text" required>
    <input class="form-control mb-3" name="password" placeholder="Password" type="password" required>
    <button class="btn btn-primary" type="submit">Log In</button>
    <a href="/forgotpassword" class="btn btn-secondary white">Forgot Password</a>
    {% if USE_CAPTCHA %}
        <script src="https://hcaptcha.com/1/api.js" async defer></script>
        <hr>
        <div class="h-captcha" data-sitekey= {{ site_key }} ></div>
    {% endif %}
    {% if request.args.get('next') %}
        <input type="hidden" name="next" value="{{ request.args.get('next') }}">
    {% endif %}
</form>
{% endblock %}
