{% extends "layout.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block main %}
<h1>Privacy Policy</h1>
<strong>This document describes how we process and store your information.</strong>
<br>
<p>We do not collect or store any personal information as defined by <a href="https://www.priv.gc.ca/en/privacy-topics/privacy-laws-in-canada/the-personal-information-protection-and-electronic-documents-act-pipeda/pipeda_brief/">PIPEDA</a>.</p>
<p>However, we do collect other types of information both voluntarily provided by you or transmitted to us by your browser. Those include but are not limited to your browser's user-agent, your IP address, your submissions, and your email. We safeguard your data with industry-standard security practices, and will only analyze your data to investigate errors or abuse. We will never sell your data.</p>
{% endblock %}
