{% extends "layout.html" %}

{% block title %}Practice Leaderboard{% endblock %}
{% block active %}Users{% endblock %}

{% block main %}
<h1>Practice Leaderboard</h1>
{% if is_ongoing_contest %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
        There is currently an ongoing contest. To view its scoreboard, go to the <a href="/contests">Contests</a> page, enter the contest, and then click "Contest Leaderboard" at the top of the page.
        This scoreboard is only for <b>practice problems unrelated to the contest</b>.
        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"></button>
    </div>
{% endif %}
<div style="overflow-x: auto;">
    <table class="table table-hover table-full-width">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 13%;">Rank</th>
                <th scope="col" style="width: 40%;">Username</th>
                <th scope="col" style="width: 19%;">Points</th>
                <th scope="col" style="width: 19%;">Contests Participated</th>
                <th scope="col" style="width: 19%">Flags</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(user_data | length) %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td class="username">{{ user_data[i]["username"] }}</td>
                <td>{{ user_data[i]["total_points"] }}</td>
                <td>{{ user_data[i]["contests_completed"] }}</td>
                <td>{{ user_data[i]["problems_solved"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
