{% extends "layout.html" %}

{% block title %}Settings{% endblock %}
{% block active %}Settings{% endblock %}

{% block main %}
<h1>Settings</h1>
<a class="btn btn-primary" href="/settings/changepassword" role="button">Change Password</a>
<br>
<br>
<a class="btn btn-primary" href="/settings/toggle2fa" role="button">Toggle 2FA</a>
<br>
<br>
<a class="btn btn-primary" href="#" id="btnApi" role="button">Generate New API Key</a>
<br>
<div class="hidden">
    <h3>Keep your API key safe. Do not share it with anyone!</h3>
    <textarea disabled class="apikey font-mono" cols="36" rows="1"></textarea>
</div>
{% endblock %}
{% block script %}
<script>
    document.querySelector("#btnApi").addEventListener("click", () => {
        const formData = new FormData();
        formData.append("csrf_token", "{{ csrf_token() }}");
        fetch("/api/getkey", {
            method: "POST",
            body: formData
        }).then(b => b.text()).then(b => {
            const outputDiv = document.querySelector(".apikey");
            outputDiv.value = b;
            outputDiv.parentElement.classList.remove("hidden");
        });
    });
</script>
{% endblock %}