{% extends "layout.html" %}

{% block title %}Contests{% endblock %}

{% block main %}
<h1>Future Contests</h1>
{% if future | length == 0 %}
	There are no future contests.
{% endif %}
{% for contest in future %}
    <div class="card post-card" style="max-height: 600px;">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3>{{ contest["name"] }}</h3>
        <p style="margin-bottom: 0;">Start: <span class="dt">{{ contest["start"] }}</span></p>
        <p style="margin-bottom: 0;">End: <span class="dt">{{ contest["end"] }}</span></p>
        <div class="showdown">
            <textarea style="display: none;">{{ contest["description"] | safe }}</textarea>
        </div>
        {% if session["admin"] %}
            <a href="/admin/editcontest/{{ contest["id"] }}" style="position: absolute; top: 12px; right: 36px;">
                <img src="/assets/images/pencil.svg" onerror="this.src='/assets/images/pencil.png'" class="icon">
            </a>
            <a href="/admin/deletecontest/{{ contest["id"] }}" style="position: absolute; top: 12px; right: 16px;">
                <img src="/assets/images/trash.svg" onerror="this.src='/assets/images/trash.png'" class="icon">
            </a>
        {% endif %}
    </div>
{% endfor %}

<h1>Ongoing Contests</h1>
{% if current | length == 0 %}
	There are no ongoing contests.
{% endif %}
{% for contest in current %}
    <div class="card post-card" style="max-height: 600px;">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3><a href="/contest/{{ contest["id"] }}">{{ contest["name"] }}</a></h3>
        <p style="margin-bottom: 0;">Start: <span class="dt">{{ contest["start"] }}</span></p>
        <p style="margin-bottom: 0;">End: <span class="dt">{{ contest["end"] }}</span></p>
        <div class="showdown">
            <textarea style="display: none;">{{ contest["description"] | safe }}</textarea>
        </div>
        {% if session["admin"] %}
            <a href="/admin/editcontest/{{ contest["id"] }}" style="position: absolute; top: 12px; right: 36px">
                <img src="/assets/images/pencil.svg" onerror="this.src='/assets/images/pencil.png'" style="width: 16px;">
            </a>
            <a href="/admin/deletecontest/{{ contest["id"] }}" style="position: absolute; top: 12px; right: 16px">
                <img src="/assets/images/trash.svg" onerror="this.src='/assets/images/trash.png'" style="width: 16px;">
            </a>
        {% endif %}
    </div>
{% endfor %}

<h1>Past Contests</h1>
{% if past | length == 0 %}
	There are no past contests.
{% endif %}
{% for contest in past %}
    <div class="card post-card" style="max-height: 600px;">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3><a href="/contest/{{ contest["id"] }}">{{ contest["name"] }}</a></h3>
        <p style="margin-bottom: 0;">Start: <span class="dt">{{ contest["start"] }}</span></p>
        <p style="margin-bottom: 0;">End: <span class="dt">{{ contest["end"] }}</span></p>
        <div class="showdown">
            <textarea style="display: none;">{{ contest["description"] | safe }}</textarea>
        </div>
        {% if session["admin"] %}
            <a href="/admin/editcontest/{{ contest["id"] }}" style="position: absolute; top: 12px; right: 36px">
                <img src="/assets/images/pencil.svg" onerror="this.src='/assets/images/pencil.png'" style="width: 16px;">
            </a>
            <a href="/admin/deletecontest/{{ contest["id"] }}" style="position: absolute; top: 12px; right: 16px">
                <img src="/assets/images/trash.svg" onerror="this.src='/assets/images/trash.png'" style="width: 16px;">
            </a>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
