{% extends "layout.html" %}

{% block title %}{{ title }} Scoreboard{% endblock %}

{% block main %}
<h1><a href="{{ request.path[:-11] }}">{{ title }}</a> Scoreboard</h1>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Username</th>
            <th scope="col">Points</th>
            <th scope="col">Most recent AC submission</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(data | length) %}
        <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ data[i]["username"] }}</td>
            <td>{{ data[i]["points"] }}</td>
            <td class="dt">{{ data[i]["lastAC"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
