{% extends "layout.html" %}

{% block title %}Export {{ data["name"] }}{% endblock %}

{% block main %}
<h1>Export <a href="{{ request.path[:-7] }}">{{ data["name"] }}</a></h1>
{% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}
Are you sure you want to export {{ data["name"] }} to the Practice tab?
<form method="post">
    <input class="btn btn-primary" type="submit" value="Confirm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
