{% extends "layout.html" %}

{% block title %}Create Announcement{% endblock %}

{% block main %}
<h1>Create Announcement</h1>
{% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}
<form autocomplete="off" method="post" id="create" name="create">
    <input class="form-control form-group" type="text" id="name" name="name" placeholder="Name" required>
    <textarea class="form-control form-group" id="description" name="description" rows="20" placeholder="Description" required></textarea>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Create">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
