{% extends "layout.html" %}

{% block title %}Create Contest{% endblock %}

{% block main %}
<h1>Create Contest</h1>
{% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<form autocomplete="off" method="post" id="create" name="create">
    <input class="form-control form-group" type="text" id="contest_id" name="contest_id" placeholder="Contest ID" required>
    <input class="form-control form-group" type="text" id="contest_name" name="contest_name" placeholder="Contest Name" required>
    <textarea class="form-control form-group" id="description" name="description" rows="20" placeholder="Description" required></textarea>
    <input class="form-control form-group dtl" type="text" id="start" name="start" placeholder="Start Date & Time" required>
    <input class="form-control form-group dtl" type="text" id="end" name="end" placeholder="End Date & Time" required>
    <div class="form-control form-group" style="border: 0;">
        <input type="checkbox" id="scoreboard_visible" name="scoreboard_visible">
        <label for="scoreboard_visible">Scoreboard Visible?</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Create Contest">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<script>
    $(".dtl").focus(function() {
        $(this).attr("type", "datetime-local");
    });

    $("form").submit(function(event) {
        var formStart = $(this).find("#start");
        var start = new Date(formStart.val()).toISOString();
        formStart.attr("type", "text").val(start);

        var formEnd = $(this).find("#end");
        var end = new Date(formEnd.val()).toISOString();
        formEnd.attr("type", "text").val(end);
    })
</script>
{% endblock %}
