{% extends "layout.html" %}

{% block title %}Create Problem{% endblock %}

{% block main %}
<h1>Create Problem</h1>
{% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}
<form autocomplete="off" method="post" id="create" name="create" enctype=multipart/form-data>
    <input class="form-control form-group" type="text" id="id" name="id" placeholder="ID" required>
    <input class="form-control form-group" type="text" id="name" name="name" placeholder="Name" required>
    <textarea class="form-control form-group" id="description" name="description" rows="20" placeholder="Description" required></textarea>
    <textarea class="form-control form-group" id="hints" name="hints" rows="10" placeholder="Hints"></textarea>
    <input class="form-control form-group" type="number" id="point_value" name="point_value" placeholder="Point Value" required>
    <input class="form-control form-group" type="text" id="category" name="category" placeholder="Category" required>
    <input class="form-control form-group" type="text" id="flag" name="flag" placeholder="Flag" required>
    <input class="form-control form-group" type="file" id="file" name="file" accept=".zip" style="border: 0;">
    <div class="form-control form-group" style="border: 0;">
        <input type="checkbox" id="draft" name="draft">
        <label for="draft">Draft?</label>
    </div>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Create">
</form>
{% endblock %}
