{% extends "layout.html" %}

{% block title %}Submissions{% endblock %}

{% block main %}
<h1>Submissions</h1>
<div id="pagination"></div>
<div class="flex">
    <div style="flex: 3; overflow-x: auto;">
        <table class="table table-hover table-full-width">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 10%;">ID</th>
                    <th scope="col" style="width: 20%;">Time</th>
                    <th scope="col" style="width: 18%;">Username</th>
                    <th scope="col" style="width: 20%;">Problem ID</th>
                    <th scope="col" style="width: 20%;">Contest ID</th>
                    <th scope="col" style="width: 12%;">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row["sub_id"] }}</td>
                    <td class="dt">{{ row["date"] }}</td>
                    <td>{{ row["username"] }}</td>
                    <td>{{ row["problem_id"] }}</td>
                    <td>{{ row["contest_id"] }}</td>
                    <td>{% if row["correct"] == True %}
                            AC
                        {% else %}
                            WA
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="flex: 1; margin-left: 8px;" id="submission-search-right">
        <div class="card">
            <h3>Filter Submissions</h3>
            <form>
                <input class="form-control form-group" type="text" id="username" name="username" placeholder="Filter by username">
                <input class="form-control form-group" type="text" id="problem_id" name="problem_id" placeholder="Filter by problem ID">
                <input class="form-control form-group" type="text" id="contest_id" name="contest_id" placeholder="Filter by contest ID">
                <select class="form-control form-group" id="correct" name="correct">
                    <option value="" selected hidden>Filter by status</option>
                    <option value="">All</option>
                    <option value="AC">AC</option>
                    <option value="WA">WA</option>
                </select>
                <input class="btn btn-primary" type="submit" value="Filter!">
            </form>
        </div>
    </div>
</div>
<div id="submission-search-bottom">
    <div class="card">
        <h3>Filter Submissions</h3>
        <form>
            <input class="form-control form-group" type="text" id="username" name="username" placeholder="Filter by username">
            <input class="form-control form-group" type="text" id="problem_id" name="problem_id" placeholder="Filter by problem ID">
            <input class="form-control form-group" type="text" id="contest_id" name="contest_id" placeholder="Filter by contest ID">
            <select class="form-control form-group" id="correct" name="correct">
                <option value="" selected hidden>Filter by status</option>
                <option value="">All</option>
                <option value="AC">AC</option>
                <option value="WA">WA</option>
            </select>
            <input class="btn btn-primary" type="submit" value="Filter!">
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var queryStrings = new URL(window.location.href).searchParams;
    if (queryStrings.get("username") != false) $("form #username").attr("value", queryStrings.get("username"));
    if (queryStrings.get("problem_id") != false) $("form #problem_id").attr("value", queryStrings.get("problem_id"));
    if (queryStrings.get("contest_id") != false) $("form #contest_id").attr("value", queryStrings.get("contest_id"));

    var total_length = {{ length }};
</script>
{% endblock %}
