{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block main %}
<h1>Users</h1>
<div id="confirm" style="cursor: pointer;"></div>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Join Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td class="userid">{{ row["id"] }}</td>
            <td {{ 'style=color:red;' if row["banned"] }} class="username" >{{ row["username"] }}</td>
            <td>{{ row["email"] }}</td>
            <td class="dt">{{ row["join_date"] }}</td>
            <td>
                <a href="#" onclick="banmsg(this)"><img src="/static/restrict.svg" onerror="this.src='/static/restrict.png'" class="svg-red ban-user icon" title="Ban/Unban user"></img></a>
                <a href="#" onclick="resetpassmsg(this)"><img src="/static/key.svg" onerror="this.src='/static/key.png'" class="reset-password icon" title="Reset password"></img></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function ban(e) {
        var user_id = e.getAttribute("userid");
        $.get("/admin/ban?user_id=" + user_id, data => {
            $(".userid").filter(function() {
                return $(this).text() === user_id;
            }).parent().find(".username")
                       .css("color", data.includes("Successfully banned") ? "red" : "");
            alert(data)
        })
        e.innerHTML = "";
    }

    function resetpass(e) {
        var user_id = e.getAttribute("userid");
        $.get("/admin/resetpass?user_id=" + user_id, data => {
            navigator.clipboard.writeText(data);
            alert(data + " (copied to clipboard)")
        })
        e.innerHTML = "";
    }

    function banmsg(e) {
        var username = $(e).parent().parent().find(".username").html();
        var userid = $(e).parent().parent().find(".userid").html();
        var msg = `
            <div class="alert alert-danger show" role="alert">
                Are you sure you want to ban/unban ${username}? Click this message to confirm.
            </div>`;
        $("#confirm").html(msg)
                     .attr("userid", userid)
                     .attr("onclick", "ban(this)");
    }

    function resetpassmsg(e) {
        var username = $(e).parent().parent().find(".username").html();
        var userid = $(e).parent().parent().find(".userid").html();
        var msg = `
            <div class="alert alert-danger show" role="alert">
                Are you sure you want to reset ${username}'s password? Click this message to confirm.
            </div>`;
        $("#confirm").html(msg)
                     .attr("userid", userid)
                     .attr("onclick", "resetpass(this)");
    }
</script>
{% endblock %}
