{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block main %}
<h1>Users</h1>
<div id="confirm" style="display: none; ">
    <form method="post" style="margin-bottom: 1rem;">
        <input class="btn btn-danger" type="submit">
        <input type="hidden" name="user_id">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
</div>
<div style="overflow-x: auto;">
    <table class="table table-hover table-full-width">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 10%;">ID</th>
                <th scope="col" style="width: 20%;">Username</th>
                <th scope="col" style="width: 25%;">Email</th>
                <th scope="col" style="width: 25%;">Join Date</th>
                <th scope="col" style="width: 20%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td class="userid">{{ row["id"] }}</td>
                <td style="{{ "color:red;" if row["banned"] }} {{ "font-weight:bold;" if row["admin"] }}" class="username" >{{ row["username"] }}</td>
                <td>{{ row["email"] }}</td>
                <td class="dt">{{ row["join_date"] }}</td>
                <td>
                    <a href="#" onclick="ban(this)">
                        <img src="/assets/images/restrict.svg" onerror="this.src='/assets/images/restrict.png'" class="svg-red icon" title="Ban/Unban user"></img>
                    </a>
                    <a href="#" onclick="resetpass(this)">
                        <img src="/assets/images/key.svg" onerror="this.src='/assets/images/key.png'" class="icon" title="Reset password"></img>
                    </a>
                    <a href="#" onclick="admin(this)">
                        <img src="/assets/images/arrow-up.svg" onerror="this.src='/assets/images/arrow-up.png'" class="svg-green icon" title="Grant/Revoke admin"></img>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function createForm(msg, path, user_id) {
        $("#confirm").css("display", "");
        $("#confirm .btn").attr("value", msg)
        $("#confirm form").attr("action", path);
        $("#confirm input[name=user_id]").attr("value", user_id);
    }

    function ban(e) {
        var username = $(e).parent().parent().find(".username").html();
        var user_id = $(e).parent().parent().find(".userid").html();
        var msg = `Are you sure you want to ban/unban ${username}? Click here to confirm.`;
        createForm(msg, "/admin/ban", user_id);
    }

    function resetpass(e) {
        var username = $(e).parent().parent().find(".username").html();
        var user_id = $(e).parent().parent().find(".userid").html();
        var msg = `Are you sure you want to reset ${username}'s password? Click here to confirm.`;
        createForm(msg, "/admin/resetpass", user_id);
    }

    function admin(e) {
        var username = $(e).parent().parent().find(".username").html();
        var user_id = $(e).parent().parent().find(".userid").html();
        var msg = `Are you sure you want to grant/revoke admin to ${username}? Click here to confirm.`;
        createForm(msg, "/admin/makeadmin", user_id);
    }
</script>
{% endblock %}
