{% extends "layout.html" %}

{% block title %}Admin Console{% endblock %}
{% block active %}Admin Console{% endblock %}

{% block main %}
<div class="alert alert-dismissible fade show hidden" id="vercheck" role="alert">
    <div>
        You are not up-to-date! Please notify the site administrator. 
        <span></span>
        Upgrade <a href="https://github.com/jdabtieu/CTFOJ/releases">here</a>.
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<h1>Admin Console</h1>
<div class="row">
    {% if check_perm(["ADMIN", "SUPERADMIN", "PROBLEM_MANAGER", "CONTENT_MANAGER"]) %}
    <div class="col-sm-6 admin-card">
        <div class="card bg-ld-green">
            <div class="card-body">
                <h5 class="card-title">User Management</h5>
                <p class="card-text">Manage users and their submissions.</p>
                {% if check_perm(["ADMIN", "SUPERADMIN"]) %}
                <a class="btn btn-primary" href="/admin/users" role="button">Users</a>
                <br>
                <br>
                {% endif %}
                <a class="btn btn-primary" href="/admin/submissions" role="button">Submissions</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
    <div class="col-sm-6 admin-card">
        <div class="card bg-ld-red">
            <div class="card-body">
                <h5 class="card-title">Create Announcements & Contests</h5>
                <p class="card-text">Create and post new announcements and contests.</p>
                <a class="btn btn-primary" href="/admin/createannouncement" role="button">Create Announcement</a>
                <br>
                <br>
                <a class="btn btn-primary" href="/contests/create" role="button">Create Contest</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if check_perm(["ADMIN", "SUPERADMIN", "PROBLEM_MANAGER", "CONTENT_MANAGER"]) %}
    <div class="col-sm-6 admin-card">
        <div class="card bg-ld-purple">
            <div class="card-body">
                <h5 class="card-title">Manage Problems</h5>
                <p class="card-text">Create problems and view draft problems.</p>
                <a class="btn btn-primary" href="/problems/create" role="button">Create Problem</a>
                <br>
                <br>
                <a class="btn btn-primary" href="/problems/draft" role="button">Draft Problems</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
    <div class="col-sm-6 admin-card">
        <div class="card bg-ld-blue">
            <div class="card-body">
                <h5 class="card-title">Manage Homepage</h5>
                <p class="card-text">Edit and preview your homepage, if enabled in site settings.</p>
                <a class="btn btn-primary" href="/admin/edithomepage" role="button">Edit Homepage</a>
                <br>
                <br>
                <a class="btn btn-primary" href="/admin/previewhomepage" role="button">Preview Homepage</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% if check_perm(["ADMIN", "SUPERADMIN"]) %}
<hr>
<p>
    Maintenance mode prevents non-admin users from interacting with the site. Admins can still log
    in and perform changes as required. Use this for site upgrades and for other situations as
    needed. If CTFOJ or its server is rebooted, maintenance mode will remain on. To disable it,
    log in as an admin account and navigate back to this page.
</p>
{% if maintenance_mode %}
<form action="/admin/maintenance/disable" method="POST">
    <input type="submit" class="btn btn-danger mb-3" value="Disable Maintenance Mode">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endif %}
<form action="/admin/maintenance/enable" method="POST">
    <textarea class="form-control mb-3"
        name="message"
        id="maintenance-message"
        rows="4"
        placeholder="Maintenance message (optional)">{{ maintenance_msg }}</textarea>
    {% if maintenance_mode %}
        <input type="submit" class="btn btn-secondary" value="Update Message">
    {% else %}
        <input type="submit" class="btn btn-danger" value="Enable Maintenance Mode">
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endif %}
{% endblock %}
{% block script %}
<script>
    let ver = "{{ ver }}";
    fetch("https://api.github.com/repos/jdabtieu/CTFOJ/releases/latest").then(response => {
        if (response.ok) return response.json();
        throw new Error();
    }).then(data => {
        let latest_ver = data["tag_name"];
        if (latest_ver !== ver) {
            let alert = document.querySelector("#vercheck");
            alert.classList.add("alert-danger");
            alert.querySelector("span").innerText = `Current version: ${ver}, Latest version: ${latest_ver}.`
            alert.classList.remove("hidden");
        }
    }).catch(error => {
        let alert = document.querySelector("#vercheck");
            alert.classList.add("alert-warning");
        alert.querySelector("div").innerText = "Latest version could not be detected. Please make sure https://api.github.com isn't blocked by a firewall.";
        alert.classList.remove("hidden");
    });
</script>
{% endblock %}