{% extends "layout.html" %}

{% block title %}Admin Console{% endblock %}

{% block main %}
<h1>Admin Console</h1>
<a class="btn btn-primary" href="/admin/submissions" role="button">Submissions</a>
<br>
<br>
<a class="btn btn-primary" href="/admin/users" role="button">Users</a>
<br>
<br>
<a class="btn btn-primary" href="/admin/createannouncement" role="button">Create Announcement</a>
<br>
<br>
<a class="btn btn-primary" href="/admin/createcontest" role="button">Create Contest</a>
<br>
<br>
<a class="btn btn-primary" href="/admin/createproblem" role="button">Create Problem</a>
<br>
<br>
<a class="btn btn-primary" href="/problems/draft" role="button">Draft Problems</a>
<hr>
<p>The only thing maintenance mode should be used for is to make significant changes to the database that requires nobody writes to it during that time, as well as 5 minutes before a reboot to let users know that the site will be down momentarily. If the application is rebooted, maintenance mode will turn itself off.</p>
<form action="/admin/maintenance" method="POST">
    {% if maintenance_mode %}
        <input type="submit" class="btn btn-primary" value="Disable Maintenance Mode">
    {% else %}
        <input type="submit" class="btn btn-primary" value="Enable Maintenance Mode">
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
