{% extends "layout.html" %}

{% block title %}Admin Console{% endblock %}

{% block main %}
<h1>Admin Console</h1>
<div class="row">
    <div class="col-sm-6 admin-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User Management</h5>
                <p class="card-text">Manage users and their submissions.</p>
                <a class="btn btn-primary" href="/admin/submissions" role="button">Submissions</a>
                <br>
                <br>
                <a class="btn btn-primary" href="/admin/users" role="button">Users</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 admin-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create Announcements & Contests</h5>
                <p class="card-text">Create and post new announcements and contests.</p>
                <a class="btn btn-primary" href="/admin/createannouncement" role="button">Create Announcement</a>
                <br>
                <br>
                <a class="btn btn-primary" href="/admin/createcontest" role="button">Create Contest</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 admin-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manage Problems</h5>
                <p class="card-text">Create problems and view draft problems.</p>
                <a class="btn btn-primary" href="/admin/createproblem" role="button">Create Problem</a>
                <br>
                <br>
                <a class="btn btn-primary" href="/problems/draft" role="button">Draft Problems</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 admin-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manage Homepage</h5>
                <p class="card-text">Edit and preview your homepage, if enabled in site settings.</p>
                <a class="btn btn-primary" href="/admin/edithomepage" role="button">Edit Homepage</a>
                <br>
                <br>
                <a class="btn btn-primary" href="/admin/previewhomepage" role="button">Preview Homepage</a>
            </div>
        </div>
    </div>
</div>
<hr>
<p>
    The only thing maintenance mode should be used for is to make significant changes to the
    database that requires nobody writes to it during that time, as well as 5 minutes before a
    reboot to let users know that the site will be down momentarily. If the application is rebooted,
    maintenance mode will remain on. To disable it, log in as an admin account and navigate back to
    this page or remove the 'maintenance_mode' file on the server.
</p>
<form action="/admin/maintenance" method="POST">
    {% if maintenance_mode %}
        <input type="submit" class="btn btn-danger" value="Disable Maintenance Mode">
    {% else %}
        <input type="submit" class="btn btn-danger" value="Enable Maintenance Mode">
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
