{% extends "layout.html" %}

{% block title %}Create Announcement{% endblock %}
{% block active %}Admin Console{% endblock %}

{% block main %}
<h1>Create Announcement</h1>
<form autocomplete="off" method="post" id="create" name="create">
    <input class="form-control mb-3" type="text" id="name" name="name" placeholder="Name" required>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="description"
                  name="description"
                  rows="20"
                  placeholder="Description"
                  required></textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Create">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    document.getElementById("description-out").attachShadow({mode: "open"});
    document.getElementById("description").addEventListener("input", function() {
        const outputDiv = document.getElementById("description-out");
        injectEditor(outputDiv, this.value);
        this.style.height = outputDiv.offsetHeight + "px";
    });
</script>
{% endblock %}
