{% extends "layout.html" %}

{% block title %}Edit Announcement{% endblock %}

{% block preload %}
<link rel="preload" href="/api/announcement/{{ request.path.split('/')[3] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1>Edit Announcement</h1>
<form autocomplete="off" method="post">
    <input class="form-control mb-3"
           name="name"
           placeholder="Name"
           value="{{ data['name'] }}"
           required>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="description"
                  name="description"
                  rows="20"
                  placeholder="Description"
                  required></textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <input class="btn btn-primary" type="submit" name="submit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    const announcementId = "{{ request.path.split('/')[3] }}";
    const description = document.getElementById("description");
    const outputDiv = document.getElementById("description-out");
    outputDiv.attachShadow({mode: "open"});

    function update() {
        injectEditor(outputDiv, description.value);
        description.style.height = outputDiv.offsetHeight + "px";
    }
    description.addEventListener('input', update);

    fetch("/api/announcement/" + announcementId).then(b => b.text())
        .then(b => {
            description.value = b;
            update();
        });
</script>
{% endblock %}
