{% extends "layout.html" %}

{% block title %}Edit Contest{% endblock %}

{% block main %}
<h1>Edit Contest</h1>
<form autocomplete="off" method="post" id="edit" name="edit">
    <input class="form-control mb-3" type="text" id="name" name="name" placeholder="Name" value="{{ data['name'] }}" required>
    <div style="position: relative;">
        <textarea class="form-control mb-3 md-preview" id="description" name="description" rows="20" placeholder="Description" required>{{ data["description"] }}</textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <input class="form-control mb-3 dtl" type="datetime-local" id="start" name="start" placeholder="Start Date & Time" value="{{ data['start'] }}" required>
    <input class="form-control mb-3 dtl" type="datetime-local" id="end" name="end" placeholder="End Date & Time" value="{{ data['end'] }}" required>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Edit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    var product = converter.makeHtml(document.getElementById('description').value);
    document.getElementById('description-out').innerHTML = product;
    document.getElementById("description").style.height = document.getElementById("description-out").offsetHeight + "px";

    document.querySelectorAll(".dtl").forEach(function (e) {
        var split = e.getAttribute("value").split(" ");
        var date_split = split[0].split("-");
        var final = date_split[1] + "/" + date_split[2] + "/" + date_split[0] + " " + split[1];
        var parsed = new Date(final + " UTC").toString().split(" ");
        e.value = parsed[3] + "-" + getMonthFromString(parsed[1]) + "-" + parsed[2] + "T" + parsed[4];

        function getMonthFromString(mon) {
            var str = (new Date(Date.parse(mon +" 1, 2012")).getMonth() + 1).toString();
            return str.length == 2 ? str : "0" + str;
        }
    });

    document.getElementById('description').oninput = function() {
        var product = converter.makeHtml(this.value);
        document.getElementById("description-out").innerHTML = product;
        document.getElementById("description").style.height = document.getElementById("description-out").offsetHeight + "px";
    }

    $("form").submit(function(event) {
        var formStart = $(this).find("#start");
        var start = new Date(formStart.val()).toISOString();
        formStart.attr("type", "text").val(start);

        var formEnd = $(this).find("#end");
        var end = new Date(formEnd.val()).toISOString();
        formEnd.attr("type", "text").val(end);
    })
</script>
{% endblock %}
