{% extends "layout.html" %}

{% block title %}Edit Homepage{% endblock %}

{% block preload %}
<link rel="preload" href="/api/homepage" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1>Edit Homepage</h1>
<form method="post">
    <div class="mb-3 form-control flex">
        <div style="flex: 1; min-width: 0">
            <div>
                <input id="method1" type="radio" name="method" value="1" checked required>
                <label for="method1">Layout 1
                    <img src="/assets/images/home-1.jpg" class="homepage-layout-img">
                </label>
            </div>
        </div>
        <div style="flex: 1; min-width: 0">
            <div>
                <input id="method2" type="radio" name="method" value="2" required>
                <label for="method2">Layout 2
                    <img src="/assets/images/home-2.jpg" class="homepage-layout-img">
                </label>
            </div>
        </div>
    </div>
    <h4>Formatting Notes</h4>
    <ul>
        <li>For text centering, add <code>class="text-center"</code> to the element to be centered.</li>
        <li>HTML, Markdown, and CSS are supported.</li>
        <li>All JavaScript is removed; make sure the preview looks and functions correctly.</li>
    </ul>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview font-mono"
                  name="content"
                  id="content"
                  rows="20"
                  required></textarea>
        <div id="preview" class="md-preview">
            <div class="card" id="home-container" class="home1">
                <div id="home"></div>
            </div>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Save">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    const content = document.getElementById("content");
    const outputDiv = document.getElementById("home");
    outputDiv.attachShadow({mode: "open"});

    function update() {
        injectEditor(outputDiv, content.value);
        content.style.height = outputDiv.offsetHeight + "px";
    }
    content.addEventListener("input", update);

    fetch("/api/homepage").then(b => b.text())
        .then(b => {
            content.value = b;
            update();
        });
</script>
{% endblock %}
