{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block main %}
<h1>Users</h1>
<div id="pagination" data-pages="{{ length }}"></div>
<div id="confirm" style="display: none;">
    <form method="post" style="margin-bottom: 1rem;">
        <input class="btn btn-danger" type="submit">
        <input type="hidden" name="user_id">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
</div>
<div style="overflow-x: auto;">
    <table class="table table-hover table-full-width">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 10%;">ID</th>
                <th scope="col" style="width: 20%;">Username</th>
                <th scope="col" style="width: 25%;">Email</th>
                <th scope="col" style="width: 25%;">Join Date</th>
                <th scope="col" style="width: 20%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td class="userid">{{ row["id"] }}</td>
                <td class="username
                           {{ 'user-ban' if row['banned'] }}
                           {{ 'user-admin' if row['admin'] }}">
                    {{ row["username"] }}
                </td>
                <td>{{ row["email"] }}</td>
                <td class="dt">{{ row["join_date"] }}</td>
                <td data-id="{{ row['id'] }}" data-username="{{ row['username'] }}">
                    <a href="#">
                        <img src="/assets/images/restrict.svg"
                             onerror="this.src='/assets/images/restrict.png'"
                             class="svg-red icon users-ban"
                             alt="Ban/Unban user"
                             title="Ban/Unban user">
                    </a>
                    <a href="#">
                        <img src="/assets/images/key.svg"
                             onerror="this.src='/assets/images/key.png'"
                             class="icon users-resetpass"
                             alt="Reset password"
                             title="Reset password">
                    </a>
                    <a href="#">
                        <img src="/assets/images/arrow-up.svg"
                             onerror="this.src='/assets/images/arrow-up.png'"
                             class="svg-green icon users-admin"
                             alt="Grant/Revoke admin"
                             title="Grant/Revoke admin">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
<script>
    function createForm(msg, path, userId) {
        document.getElementById("confirm").style.display = "";
        document.querySelector("#confirm .btn").setAttribute("value", msg);
        document.querySelector("#confirm form").setAttribute("action", path);
        document.querySelector("#confirm input[name=user_id]").setAttribute("value", userId);
    }

    for (let node of document.getElementsByClassName("users-ban")) {
        node.parentElement.addEventListener("click", function() {
            var username = this.parentElement.getAttribute("data-username");
            var msg = `Are you sure you want to ban/unban ${username}? Click here to confirm.`;
            createForm(msg, "/admin/ban", this.parentElement.getAttribute("data-id"));
        });
    }

    for (let node of document.getElementsByClassName("users-resetpass")) {
        node.parentElement.addEventListener("click", function() {
            var username = this.parentElement.getAttribute("data-username");
            var msg = `Are you sure you want to reset ${username}'s password? Click here to confirm.`;
            createForm(msg, "/admin/resetpass", this.parentElement.getAttribute("data-id"));
        });
    }

    for (let node of document.getElementsByClassName("users-admin")) {
        node.parentElement.addEventListener("click", function() {
            var username = this.parentElement.getAttribute("data-username");
            var msg = `Are you sure you want to grant/revoke admin to ${username}? Click here to confirm.`;
            createForm(msg, "/admin/makeadmin", this.parentElement.getAttribute("data-id"));
        });
    }
</script>
{% endblock %}
