{% extends "layout.html" %}

{% block title %}Change Password{% endblock %}

{% block main %}
<h1>Change Password</h1>
<form method="post">
    <input class="mb-3 form-control"
           name="password"
           placeholder="Current Password"
           type="password"
           autocomplete="current-password"
           required>
    <input class="mb-3 form-control"
           name="newPassword"
           placeholder="New Password"
           type="password"
           autocomplete="new-password"
           required>
    <input class="mb-3 form-control"
           name="confirmation"
           placeholder="Confirmation"
           type="password"
           autocomplete="new-password"
           required>
    <button class="btn btn-primary" type="submit">Change Password</button>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<br>
<p>Password must be at least 8 characters long.</p>
{% endblock %}
{% block script %}
<script>
    document.querySelector("form").addEventListener("submit", event => {
        if (document.querySelector("input[name=newPassword]").value != document.querySelector("input[name=confirmation]").value) {
            makeAlert("Passwords do not match");
            event.preventDefault();
        }
        if (document.querySelector("input[name=newPassword]").value.length < 8) {
            makeAlert("Password must be at least 8 characters");
            event.preventDefault();
        }
    });

    function makeAlert(message) {
        var tmp = document.createElement('div');
        tmp.innerHTML = `<div class="alert alert-danger alert-dismissible fade show" role="alert">${message}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>`;
        document.querySelector("main").prepend(tmp.firstChild);
    }
</script>
{% endblock %}
