{% extends "layout.html" %}

{% block title %}Forgot Password{% endblock %}

{% block main %}
<h1 class="text-center">Forgot Password</h1>
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input class="form-control mb-3" name="email" placeholder="Email Address" type="text" required>
    <button class="btn btn-primary" type="submit">Reset Password</button>
    {% if USE_CAPTCHA %}
        <script src="https://hcaptcha.com/1/api.js" async defer></script>
        <hr>
        <div class="h-captcha" data-sitekey= {{ site_key }} ></div>
    {% endif %}
</form>
<br>
<p>
    If there is an account associated with the email you provided, a link to reset your password
    will be sent to that link. Be sure to check your spam folder!
</p>
{% endblock %}
