{% extends "layout.html" %}

{% block title %}Create Problem{% endblock %}

{% block main %}
<h1>Create Problem</h1>
<form autocomplete="off" method="post" id="create" name="create" enctype=multipart/form-data>
    <input class="form-control mb-3" type="text" id="id" name="id" placeholder="ID" required>
    <input class="form-control mb-3" type="text" id="name" name="name" placeholder="Name" required>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="description"
                  name="description"
                  rows="20"
                  placeholder="Description"
                  required></textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="hints"
                  name="hints"
                  rows="20"
                  placeholder="Hints"></textarea>
        <div id="hints-out" class="md-preview"></div>
    </div>
    <input class="form-control mb-3"
           type="number"
           name="point_value"
           placeholder="Point Value"
           required>
    <input class="form-control mb-3" type="text" name="category" placeholder="Category" required>
    <input class="form-control mb-3" type="text" name="flag" placeholder="Flag" required>
    <input class="form-control mb-3" type="file" name="file" accept=".zip">
    <div class="form-control mb-3" style="border: 0;">
        <input type="checkbox" id="draft" name="draft">
        <label for="draft">Draft?</label>
    </div>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Create">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    document.getElementById("description-out").attachShadow({mode: "open"});
    document.getElementById("hints-out").attachShadow({mode: "open"});
    document.getElementById("description").addEventListener("input", function() {
        const outputDiv = document.getElementById("description-out");
        injectEditor(outputDiv, this.value);
        this.style.height = outputDiv.offsetHeight + "px";
    });
    document.getElementById("hints").addEventListener("input", function() {
        const outputDiv = document.getElementById("hints-out");
        injectEditor(outputDiv, this.value);
        this.style.height = outputDiv.offsetHeight + "px";
    });
</script>
{% endblock %}
