{% extends "layout.html" %}

{% block title %}Create Problem{% endblock %}
{% block active %}Practice{% endblock %}

{% block main %}
<h1>Create Problem</h1>
<form autocomplete="off" method="post" id="create" name="create" enctype="multipart/form-data">
    <div class="form-floating">
        <input class="form-control mb-3" type="text" id="id" name="id" placeholder="Problem ID" required>
        <label for="id">Problem ID</label>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3" type="text" id="name" name="name" placeholder="Problem Name" required>
        <label for="name">Problem Name</label>
    </div>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="description"
                  name="description"
                  style="height: 400px;"
                  placeholder="Problem Description"
                  required></textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="hints"
                  name="hints"
                  placeholder="Hints"
                  style="height: 400px;"></textarea>
        <div id="hints-out" class="md-preview"></div>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3"
               type="number"
               name="point_value"
               id="point_value"
               placeholder="Point Value"
               required>
        <label for="point_value">Point Value</label>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3" type="text" name="category" id="category" placeholder="Category" required>
        <label for="category">Category</label>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3" type="text" name="flag" id="flag" placeholder="Flag" required>
        <label for="category">Flag</label>
    </div>
    <div class="mb-3 toggle-input">
        <div>
            <span>Manual</span>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="toggle-flag-hint" checked>
            </div>
            <span>Automatic</span>
        </div>
        <input class="form-control" name="flag_hint" placeholder="Flag Hint" readonly>
    </div>
    <div class="form-control mb-3" style="border: 0;">
        Requires Instancing? You must create an entry in CTFOJ-Instancer with this this key: "<span id="instancedkey"></span>"
        <input type="checkbox" name="instanced">
    </div>
    <input class="form-control mb-3" type="file" name="file" accept=".zip">
    <div class="form-control mb-3" style="border: 0;">
        <input type="checkbox" id="draft" name="draft">
        <label for="draft">Draft?</label>
    </div>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Create">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    let autoFlagHint = true;
    function updateFlagHint() {
        if (!autoFlagHint) return;
        let flag = document.querySelector("input[name=flag]").value;
        const regex = /^(.*\{).+\}$/;
        if (regex.test(flag)) {
            document.querySelector("input[name=flag_hint]").value = flag.replace(regex, "$1...}");
        } else {
            document.querySelector("input[name=flag_hint]").value = "";
        }
    }
    document.getElementById("toggle-flag-hint").addEventListener("input", function() {
        autoFlagHint = !autoFlagHint;
        document.querySelector("input[name=flag_hint]").toggleAttribute("readonly");
        updateFlagHint();
    });
    document.querySelector("input[name=flag]").addEventListener("input", updateFlagHint);

    function instancedKey(e) {
        document.getElementById("instancedkey").innerText = e.target.value;
    }
    document.querySelector("input[name=id]").addEventListener("input", instancedKey);
    instancedKey({target: document.querySelector("input[name=id]")});

    document.getElementById("description-out").attachShadow({mode: "open"});
    document.getElementById("hints-out").attachShadow({mode: "open"});
    document.getElementById("description").addEventListener("input", function() {
        const outputDiv = document.getElementById("description-out");
        injectEditor(outputDiv, this.value);
        this.style.height = outputDiv.offsetHeight + "px";
    });
    document.getElementById("hints").addEventListener("input", function() {
        const outputDiv = document.getElementById("hints-out");
        injectEditor(outputDiv, this.value);
        this.style.height = outputDiv.offsetHeight + "px";
    });
</script>
{% endblock %}
