{% extends "layout.html" %}

{% block title %}Edit Editorial for {{ data["name"] }}{% endblock %}

{% block preload %}
<link rel="preload" href="/api/problem/editorial/{{ request.path.split('/')[2] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1>Edit Editorial for {{ data["name"] }}</h1>
<form autocomplete="off" method="post">
	<div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="editorial"
                  name="editorial"></textarea>
        <div id="editorial-out" class="md-preview"></div>
    </div>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    const problem_id = "{{ request.path.split('/')[2] }}";
    const editorial_box = document.getElementById("editorial");
    const outputDiv = document.getElementById("editorial-out");
    outputDiv.attachShadow({mode: "open"});

    function update() {
        injectEditor(outputDiv, editorial_box.value);
        editorial_box.style.height = outputDiv.offsetHeight + "px";
    }
    editorial_box.addEventListener('input', update);

    fetch("/api/problem/editorial/" + problem_id).then(b => b.text())
        .then(b => {
            editorial_box.value = b;
            update();
        });
</script>
{% endblock %}
