{% extends "layout.html" %}

{% block title %}Edit {{ data["name"] }}{% endblock %}

{% block main %}
<h1>Edit {{ data["name"] }}</h1>
<form autocomplete="off" method="post">
    <input class="form-control mb-3" id="name" name="name" value="{{ data['name'] }}" placeholder="Name" required>
    <div style="position: relative;">
        <textarea class="form-control mb-3 md-preview" id="description" name="description" rows="20" placeholder="Description" required>{{ data["description"] }}</textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <div style="position: relative;">
        <textarea class="form-control mb-3 md-preview" id="hints" name="hints" rows="20" placeholder="Hints">{{ data["hints"] if data["hints"] }}</textarea>
        <div id="hints-out" class="md-preview"></div>
    </div>
    <input class="form-control mb-3" id="category" name="category" value="{{ data['category'] }}" placeholder="Category" required>
    <div style="position: relative;">
        <input class="form-control mb-3" id="flag" name="flag" placeholder="New flag (optional)">
        <div style="position: absolute; right: 0; top: 0; width: initial;" class="form-control">
            <input type="checkbox" id="rejudge" name="rejudge">
            <label for="rejudge">Rejudge?</label>
        </div>
    </div>
    <input class="form-control mb-3"
           type="number"
           id="point_value"
           name="point_value"
           value="{{ data['point_value'] }}"
           placeholder="Point Value"
           {{ 'disabled' if data['score_users'] and data['score_users'] > 0 }}
           required>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    var product = converter.makeHtml(document.getElementById('description').value);
    document.getElementById('description-out').innerHTML = product;
    document.getElementById("description").style.height = document.getElementById("description-out").offsetHeight + "px";

    product = converter.makeHtml(document.getElementById('hints').value);
    document.getElementById('hints-out').innerHTML = product;
    document.getElementById("hints").style.height = document.getElementById("hints-out").offsetHeight + "px";

    document.getElementById('description').oninput = function() {
        var product = converter.makeHtml(this.value);
        document.getElementById("description-out").innerHTML = product;
        document.getElementById("description").style.height = document.getElementById("description-out").offsetHeight + "px";
    }
    document.getElementById('hints').oninput = function() {
        var product = converter.makeHtml(this.value);
        document.getElementById("hints-out").innerHTML = product;
        document.getElementById("hints").style.height = document.getElementById("hints-out").offsetHeight + "px";
    }
</script>
{% endblock %}
