{% extends "layout.html" %}

{% block title %}Edit Editorial for {{ data["name"] }}{% endblock %}

{% block main %}
<h1>Edit Editorial for {{ data["name"] }}</h1>
<form autocomplete="off" method="post">
	<div style="position: relative;">
        <textarea class="form-control mb-3 md-preview"
                  id="editorial"
                  name="editorial"
                  rows="20">{{ data["editorial"] if data["editorial"] }}</textarea>
        <div id="editorial-out" class="md-preview"></div>
    </div>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    function update() {
        var product = converter.makeHtml(document.getElementById('editorial').value);
        var outputDiv = document.getElementById("editorial-out");
        outputDiv.innerHTML = product;
        document.getElementById("editorial").style.height = outputDiv.offsetHeight + "px";
    }

    update();
    document.getElementById('editorial').addEventListener('input', update);
</script>
{% endblock %}
