{% extends "layout.html" %}

{% block title %}Problems{% endblock %}

{% block main %}
<h1>Problems</h1>
<div id="pagination" style="display: inline-block; min-height: 42px" data-pages="{{ length }}"></div>
<div id="category-selector-container">
    <label for="category-selector">Category</label>
    <select class="form-control form-select"
            id="category-selector"
            onchange="selectCategory(this.value)">
        <option value="">All</option>
        <option disabled>----------</option>
        {% for category in categories %}
            {% if selected == category['category'] %}
                <option selected>{{ category['category'] }}</option>
            {% else %}
                <option>{{ category['category'] }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div style="overflow-x: auto;">
    <table class="table table-hover table-full-width">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 10%;">Status</th>
                <th scope="col" style="width: 60%;">Name</th>
                <th scope="col" style="width: 10%;">Category</th>
                <th scope="col" style="width: 10%;">Value</th>
                <th scope="col" style="width: 10%;">Users</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>
                    {% if row["id"] in solved %}
                        <img class="svg-green icon"
                             src="/assets/images/check.svg"
                             onerror="this.src='/assets/images/check.png'"></img>
                    {% else %}
                        <img class="svg-red icon"
                             src="/assets/images/times.svg"
                             onerror="this.src='/assets/images/times.png'"></img>
                    {% endif %}
                </td>
                <td><a href="/problem/{{ row["id"] }}">{{ row["name"] }}</a></td>
                <td>{{ row["category"] }}</td>
                <td>{{ row["point_value"] }}</td>
                {% if session.admin %}
                    <td><a href="/admin/submissions?problem_id={{ row["id"] }}&correct=AC">
                        {{ row["sols"] }}
                    </a></td>
                {% else %}
                    <td>{{ row["sols"] }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function selectCategory(value) {
        var kvp = document.location.search.substr(1).split('&');
        let i = 0;
        for (; i < kvp.length; i++) {
            if (kvp[i].startsWith('category=')) {
                let pair = kvp[i].split('=');
                pair[1] = value;
                kvp[i] = pair.join('=');
                break;
            }
        }

        if (i >= kvp.length) {
            kvp[kvp.length] = ["category", value].join('=');
        }
        for (let i = 0; i < kvp.length; i++) {
            if (kvp[i].startsWith('page')) {
                let pair = kvp[i].split('=');
                pair[1] = "1";
                kvp[i] = pair.join('=');
                break;
            }
        }
        document.location.search = kvp.join('&');
    }
</script>
{% endblock %}
