{% extends "layout.html" %}

{% block title %}Problems{% endblock %}

{% block main %}
<h1>Problems</h1>
<div id="pagination"></div>
<div style="overflow-x: auto;">
    <table class="table table-hover table-full-width">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 12%;">Status</th>
                <th scope="col" style="width: 54%;">Name</th>
                <th scope="col" style="width: 22%;">Category</th>
                <th scope="col" style="width: 12%;">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>
                    {% if row["id"] in solved %}
                        <img class="svg-green icon" src="/assets/images/check.svg" onerror="this.src='/assets/images/check.png'"></img>
                    {% else %}
                        <img class="svg-red icon" src="/assets/images/times.svg" onerror="this.src='/assets/images/times.png'"></img>
                    {% endif %}
                </td>
                <td><a href="/problem/{{ row["id"] }}">{{ row["name"] }}</a></td>
                <td>{{ row["category"] }}</td>
                <td>{{ row["point_value"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>var total_length = {{ length }};</script>
{% endblock %}
