{% extends "layout.html" %}

{% block title %}{{ data["name"] }} Editorial{% endblock %}

{% block preload %}
<link rel="preload" href="/api/problem/editorial/{{ request.path.split('/')[2] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1><a href="{{ request.path[:-10] }}">{{ data["name"] }}</a> Editorial</h1>
<div id="editorial" class="hidden"></div>
{% endblock %}
{% block script %}
<script>
    const problemId = "{{ request.path.split('/')[2] }}";
    const editorial = document.getElementById("editorial");
    fetch("/api/problem/editorial/" + problemId).then(b => b.text())
        .then(b => {
                if (b.length > 0) {
                    inject(editorial, b, false);
                } else {
                    editorial.innerHTML =
                        `This problem does not have an editorial.
                         <a href="/problem/${problemId}">Back to problem</a>`;
                }
                editorial.classList.remove("hidden");
            });
</script>
{% endblock %}
