{% extends "layout.html" %}

{% block title %}{{ data["name"] }}{% endblock %}

{% block main %}
<h1>{{ data["name"] }}</h1>
{% if session["admin"] %}
    <div id="confirm" style="display: none;">
        <form method="post" style="margin-bottom: 1rem;" action="">
            <input class="btn btn-danger" type="submit" value="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
{% endif %}
<div class="flex">
    <div style="flex: 3; padding: 4px; word-break: break-word;">
        <div id="description" class="showdown">
            <textarea style="display: none;">{{ data["description"] | safe }}</textarea>
        </div>
        {% if data["hints"] %}
            <div style="margin-top: 16px;">
                <a class="btn btn-secondary" id="togglehint" onclick="document.getElementById('hint').classList.toggle('hidden')">Show/Hide Hints</a>
                <div id="hint" class="card showdown hidden">
                    <textarea style="display: none;">{{ data["hints"] | safe }}</textarea>
                </div>
            </div>
        {% endif %}
    </div>
    <div style="flex: 1; padding: 4px;">
        <form autocomplete="off" method="post" style="margin-bottom: 0.5rem;">
            <input class="form-control" type="text" id="flag" name="flag" placeholder="Flag" style="margin-bottom: 0.5rem;" required>
            <input class="btn btn-primary problem-submit-button" type="submit" value="Submit">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>

        <p>
            <b>Category:</b> {{ data["category"] }}<br>
            <b>Points:</b> {{ data["point_value"] }}
            {% if data["editorial"] %}
                <br><a href="{{ request.path }}/editorial">View editorial</a>
            {% endif %}
            {% if session["admin"] %}
                <br><a href="/admin/submissions?problem_id={{ request.path.split("/")[2] }}">View submissions</a>
                <br><a href="{{ request.path }}/editeditorial">Create/edit editorial</a>
                <br><a href="{{ request.path }}/edit">Edit problem</a>
                <br><a href="{{ request.path }}/download">Download problem</a>
                <br><a href="#" onclick="deletemsg()">Delete problem</a>
                {% if data["draft"] %}
                    <br><a href="#" onclick="publishmsg()">Publish draft</a>
                {% endif %}
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}
{% if session["admin"] %}
    {% block script %}
    <script>
        function deletemsg() {
            $("#confirm").css("display", "")
                         .find("form")
                         .attr("action", window.location.pathname + "/delete")
                         .find(".btn")
                         .attr("value", "Are you sure you want to delete this problem? Click here to confirm.");
        }
        function publishmsg() {
            $("#confirm").css("display", "")
                         .find("form")
                         .attr("action", window.location.pathname + "/publish")
                         .find(".btn")
                         .attr("value", "Are you sure you want to publish this problem? Click here to confirm.");
        }
    </script>
    {% endblock %}
{% endif %}
