.flag-submit {
    width: 90%;
    display: inline;
}

.problem-submit-button {
    width: 100%;
}

.hint {
    display: none;
    margin-top: 8px;
}

/****************** CONTEST PAGE LAYOUT **********************/
#contest-description-container, #contest-description-container-keep-open {
     position: fixed;
     width: 100%;
     height: 100%;
     background-color: rgb(0, 0, 0, 0.7);
     top: 0;
     left: 0;
}

#contest-problem-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-height: 320px;
    padding: 16px;
}

#contest-description-close {
    position: absolute;
    top: 4px;
    right: 4px;
}

/****************** MISC DISPLAY FIXES ***********************/
.card {
    padding: 16px;
}

.flex-container {
    display: flex;
}

.icon {
    width: 16px;
}

/****************** COLOURS **********************************/
.white {
    color: #ffffff!important;
}

.black {
    color: #000000!important;
}

.svg-red {
    filter: invert(16%) sepia(100%) saturate(6752%) hue-rotate(1deg) brightness(99%) contrast(117%);
}

.svg-green {
    filter: invert(57%) sepia(58%) saturate(3606%) hue-rotate(83deg) brightness(118%) contrast(125%);
}