<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://ctfmgci.pythonanywhere.com/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://ctfmgci.pythonanywhere.com/assets/css/style.css" rel="stylesheet">
    </head>
    <body>
        <main class="container">
            <div class="card post-card">
                <h1>CTFOJ Password Reset</h1>
                <pre>
Dear {{ username }},

If you have recently tried to reset your CTFOJ password, click on the following link to reset it:

{{ url_for('reset_password_user', token=token, _external=True) }}

Otherwise, please ignore this message.

Regards,

{{ CLUB_NAME }}
                </pre>
            </div>
        </main>
    </body>
</html>
