{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div id="confirm" style="cursor: pointer;"></div>
<h1>Announcements</h1>
{% for announcement in data %}
    <div class="card" style="margin: 16px 0 16px 0;">
        <h3>{{ announcement["name"] }}</h3>
        <p>Posted <span class="dt">{{ announcement["date"] }}</span></p>
        <div class="showdown">
            <textarea style="display: none;">{{ announcement["description"] | safe }}</textarea>
        </div>
        {% if session["admin"] %}
        <a href="/admin/editannouncement/{{ announcement["id"] }}" style="position: absolute; top: 12px; right: 36px;">
            <img src="/assets/images/pencil.svg" onerror="this.src='/assets/images/pencil.png'" style="width: 16px;">
        </a>
        <a aid="{{ announcement["id"] }}" href="#" onclick="deletemsg(this)" style="position: absolute; top: 12px; right: 16px;">
            <img src="/assets/images/trash.svg" onerror="this.src='/assets/images/trash.png'" style="width: 16px;">
        </a>
        {% endif %}
    </div>
{% endfor %}
<script>
    function deleteAnnouncement(e) {
        var aid = e.getAttribute("aid");
        window.location.href = "/admin/deleteannouncement?aid=" + aid;
    }

    function deletemsg(e) {
        var id = $(e).attr("aid")
        var msg = `
            <div class="alert alert-danger show" role="alert">
                Are you sure you want to delete this announcement? Click this message to confirm.
            </div>`;
        $("#confirm").html(msg)
                     .attr("aid", id)
                     .attr("onclick", "deleteAnnouncement(this)");
    }
</script>
{% endblock %}
