{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
{% if session["admin"] %}
    <div id="confirm" style="display: none;">
        <form method="post" style="margin-bottom: 1rem;" action="/admin/deleteannouncement">
            <input class="btn btn-danger" type="submit" value="Are you sure you want to delete this announcement? Click here to confirm.">
            <input type="hidden" name="aid" value="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
{% endif %}
<h1>Announcements</h1>
{% for announcement in data %}
    <div class="card post-card" style="max-height: 600px;">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3>{{ announcement["name"] }}</h3>
        <p>Posted <span class="dt">{{ announcement["date"] }}</span></p>
        <div class="showdown">
            <textarea style="display: none;">{{ announcement["description"] | safe }}</textarea>
        </div>
        {% if session["admin"] %}
        <a href="/admin/editannouncement/{{ announcement["id"] }}" style="position: absolute; top: 12px; right: 36px;">
            <img src="/assets/images/pencil.svg" onerror="this.src='/assets/images/pencil.png'" style="width: 16px;">
        </a>
        <a aid="{{ announcement["id"] }}" href="#" onclick="deletemsg(this)" style="position: absolute; top: 12px; right: 16px;">
            <img src="/assets/images/trash.svg" onerror="this.src='/assets/images/trash.png'" style="width: 16px;">
        </a>
        {% endif %}
    </div>
{% endfor %}
<div id="pagination"></div>
<script>
    function deletemsg(e) {
        var id = $(e).attr("aid");
        $("#confirm").css("display", "")
                     .find("input[name='aid']")
                     .attr("value", id);
    }

    var total_length = {{ length }};
</script>
{% endblock %}
