{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block main %}
<h1 class="text-center">Log In</h1>
{% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}
<form method="post">
    <input autocomplete="off" autofocus class="form-control form-group" name="username" placeholder="Username" type="text" required>
    <input class="form-control form-group" name="password" placeholder="Password" type="password" required>
    <button class="btn btn-primary" type="submit">Log In</button>
    <a href="/forgotpassword" class="btn btn-secondary white">Forgot Password</a>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<script>
    $("form").submit(() => {
        var next = new URL(window.location.href).searchParams.get("next");
        if (next !== null) {
            $("form").append('<input name="next" value="' + next + '" style="display: none">');
        }
    });
</script>
{% endblock %}
