{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block main %}
<h1 class="text-center">Log In</h1>
{% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}
<form method="post">
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
    <input autocomplete="off" autofocus class="form-control form-group" name="username" placeholder="Username" type="text" required>
    <input class="form-control form-group" name="password" placeholder="Password" type="password" required>
    <button class="btn btn-primary" type="submit">Log In</button>
    <a href="/forgotpassword" class="btn btn-secondary white">Forgot Password</a>
    {% if USE_CAPTCHA %}
        <hr>
        <div class="h-captcha" data-sitekey= {{ site_key }} ></div>
    {% endif %}
    <input type="hidden" name="next" value="{{ request.args.get('next') }}">
</form>
{% endblock %}
