{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
<h1 class="text-center">Register</h1>
{% if get_flashed_messages() %}{% set message = get_flashed_messages()[0] %}{% endif %}
{% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}
<form method="post">
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
    <input autocomplete="off" autofocus class="form-control form-group" name="username" placeholder="Username" type="text" required>
    <input class="form-control form-group" name="email" placeholder="Email Address" type="email" required>
    <input class="form-control form-group" name="password" placeholder="Password" type="password" required>
    <input class="form-control form-group" name="confirmation" placeholder="Confirmation" type="password" required>
    <button class="btn btn-primary" type="submit">Register</button>
    <hr>
    <div class="h-captcha" data-sitekey= {{ site_key }} ></div>
</form>
<br>
<p style="margin-top: 8px;">
    Your password must be at least 8 characters long. Although they are stored with industry-grade
    encryption and nobody can see them even if they gain access to the users database, we strongly
    recommend you not to use a password you use elsewhere.<br><br>
    You must provide a valid email account to register on our side. By registering, you acknowledge that you have read our <a href="/privacy">privacy policy</a> and agree to abide by our <a href="/terms">terms of service</a>.
</p>
{% endblock %}
