{% extends "layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block main %}
<h1 class="text-center">Reset Password</h1>
<form method="post">
    <input class="form-control form-group" name="password" placeholder="Password" type="password" required>
    <input class="form-control form-group" name="confirmation" placeholder="Confirmation" type="password" required>
    <button class="btn btn-primary" type="submit">Reset Password</button>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<br>
<p style="margin-top: 8px;">
    Password must be at least 8 characters long. Although they are stored with industry-grade
    encryption and nobody can see them even if they gain access to the users database, we strongly
    recommend you not to use a password you use elsewhere.<br><br>
</p>
{% endblock %}
