{% extends "contest/layout.html" %}

{% block title %}{{ data["name"] }}{% endblock %}
{% block active %}Contests{% endblock %}

{% block preload %}
<link rel="preload" href="/api/contest/problem?cid={{ request.path.split('/')[2] }}&pid={{ request.path.split('/')[4] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1>
    {% if data["solved"] %}
        <img class="svg-green icon" src="/assets/images/check.svg"
             alt="Solved" onerror="this.src='/assets/images/check.png'">
    {% endif %}
    {{ data["name"] }}
</h1>
{% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
    <div id="confirm" class="hidden">
        <form method="post" style="margin-bottom: 1rem;" action="{{ request.path }}/publish">
            <input class="btn btn-danger"
                   type="submit"
                   value="Are you sure you want to publish this problem? Click here to confirm.">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
{% endif %}
<div class="flex">
    <div style="flex: 3; padding: 4px; word-break: break-word; min-width: 0px;">
        {% if data["instanced"] %}
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">Live Instance</h3>
                <div class="card-text" id="instanceBody">Checking details...</div>
            </div>
            <script>
                (function instancer() {
                    const output = document.getElementById("instanceBody");
                    const id = "{{ request.path.split('/')[2] }}/{{ request.path.split('/')[4] }}";
                    let interval = null;

                    function populate(b) {
                        if (b["status"] !== "success") {
                            console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
                            output.innerHTML = "<b>Error</b><div>There was an error getting your instance: " + b["message"] + "</div>";
                            return;
                        }
                        let data = b["data"];
                        if (data["status"] !== "success") {
                            output.innerHTML = "<b>Error</b><div>There was an error getting your instance: " + data["message"] + "</div>";
                            return;
                        }
                        data = data["data"];
                        if (!data["active"]) {
                            output.innerHTML = "<b>Not Running</b><div>You don't have an active instance.</div>";
                            let btn = document.createElement("button");
                            btn.classList.add("btn");
                            btn.classList.add("btn-primary");
                            btn.classList.add("m-1");
                            btn.innerText = "Launch Instance";
                            btn.addEventListener("click", create);
                            output.append(btn);
                            return;
                        }
                        output.innerHTML = `<b>Running</b><div class="text-center"><code>${ data["conn"] }</code></div>`;
                        let timer = document.createElement("p");
                        let exp = new Date(data["expiry"] * 1000);
                        output.append(timer);
                        if (interval) clearInterval(interval);
                        interval = setInterval(() => {
                            let s = Math.floor((exp - new Date()) / 1000);
                            if (s < 0) {
                                clearInterval(interval);
                                interval = null;
                                output.innerHTML = "<b>Not Running</b><div>You don't have an active instance.</div>";
                                let btn = document.createElement("button");
                                btn.classList.add("btn");
                                btn.classList.add("btn-primary");
                                btn.classList.add("m-1");
                                btn.innerText = "Launch Instance";
                                btn.addEventListener("click", create);
                                output.append(btn);
                                return;
                            }
                            timer.innerText = `${s} seconds remaining`;
                        }, 200);
                        let btn = document.createElement("button");
                        btn.classList.add("btn");
                        btn.classList.add("btn-secondary");
                        btn.classList.add("m-1");
                        btn.innerText = "Refresh Status";
                        btn.addEventListener("click", query);
                        output.append(btn);
                        btn = document.createElement("button");
                        btn.classList.add("btn");
                        btn.classList.add("btn-danger");
                        btn.classList.add("m-1");
                        btn.innerText = "Destroy Instance";
                        btn.addEventListener("click", destroy);
                        output.append(btn);
                        return;
                    }

                    function query() {
                        output.innerText = "Checking details...";
                        fetch("/api/instancer/query?id=" + id).then(b => b.text()).then(b => JSON.parse(b)).then(b => populate(b));
                    }

                    function create() {
                        output.innerText = "Launching instance...";
                        fetch("/api/instancer/create?id=" + id).then(b => b.text()).then(b => JSON.parse(b)).then(b => populate(b));
                    }

                    function destroy() {
                        fetch("/api/instancer/destroy?id=" + id).then(b => b.text()).then(b => JSON.parse(b)).then(b => {
                            if (b["status"] !== "success") {
                                console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
                                output.innerHTML = "<b>Error</b><div>There was an error getting your instance: " + b["message"] + "</div>";
                                return;
                            }
                            output.innerHTML = "<b>Not Running</b><div>You don't have an active instance.</div>";
                            let btn = document.createElement("button");
                            btn.classList.add("btn");
                            btn.classList.add("btn-primary");
                            btn.innerText = "Launch Instance";
                            btn.addEventListener("click", create);
                            output.append(btn);
                            if (interval) clearInterval(interval);
                            interval = null;
                        });
                    }
                    query();
                })();
            </script>
        </div>
        {% endif %}
        <div id="problem-description" class="hidden"></div>
        <div id="hint-container">
            <btn class="btn btn-secondary" id="togglehint">
                Show/Hide Hints
            </btn>
            <div id="hint" class="card hidden"></div>
        </div>
    </div>
    <div style="flex: 1; padding: 4px;">
        <form autocomplete="off" method="post" style="margin-bottom: 0.5rem;">
            <input class="form-control"
                   name="flag"
                   placeholder="Flag"
                   style="margin-bottom: 0.5rem;"
                   required>
            <input class="btn btn-primary problem-submit-button" type="submit" value="Submit">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>

        <div>
            <b>Category:</b> {{ data["category"] }}<br>
            <b>Points:</b> {{ data["point_value"] }}<br>
            <a href="/contest/{{ request.path.split('/')[2] }}"><b>Back to contest</b></a>
            {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
                <br><a href="/admin/submissions?contest_id={{ request.path.split('/')[2] }}&problem_id={{ request.path.split('/')[4] }}">
                        View submissions
                    </a>
                <br><a href="{{ request.path }}/edit">Edit problem</a>
                <br><a href="{{ request.path }}/download">Download problem</a>
                {% if data["draft"] %}
                    <br><a href="#" id="btn-publish" onclick="">
                            Publish problem
                        </a>
                {% endif %}
                <br><a href="{{ request.path }}/export">Export problem</a>
            {% else %}
            <br><a href="/contest/{{ request.path.split('/')[2] }}/submissions?problem_id={{ request.path.split('/')[4] }}">
                My submissions
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const contestId = "{{ request.path.split('/')[2] }}";
    const problemId = "{{ request.path.split('/')[4] }}";
    fetch("/api/contest/problem?cid=" + contestId + "&pid=" + problemId).then(b => b.text())
            .then(b => JSON.parse(b)).then(b => {
        if (b["status"] !== "success") {
            console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
            return;
        }
        inject(document.getElementById("problem-description"), b["data"]["description"], true)
        if (b["data"]["hints"] != "") {
            document.getElementById("hint-container").style.display = "block";
            inject(document.getElementById("hint"), b["data"]["hints"], false);
        }
        if (b["data"]["flag_hint"]) {
            document.querySelector("input[name=flag]").setAttribute("placeholder", b["data"]["flag_hint"])
        }
    });
    document.getElementById("togglehint").addEventListener("click", function() {
        document.getElementById("hint").classList.toggle("hidden");
    });
</script>
{% if data["draft"] %}
    <script>
        document.getElementById("btn-publish").addEventListener("click", function() {
            document.getElementById("confirm").style.display = "block";
        });
    </script>
{% endif %}
{% endblock %}