{% extends "contest/layout.html" %}

{% block title %}{{ title }}{% endblock %}
{% block active %}Contests{% endblock %}

{% block main %}
<div style="position: relative; margin-bottom: 0.5rem;">
    <h1 style="display: inline;">{{ title }}</h1>
    {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
        <div class="dropdown" style="display: inline; margin-left: 4px;">
            <button class="btn btn-secondary dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="margin-top: -18px;">Actions</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"
                   href="/admin/submissions?contest_id={{ request.path[9:] }}">Submissions</a>
                <a class="dropdown-item"
                   href="{{ request.path }}/addproblem">Add Problem</a>
                <a class="dropdown-item"
                   href="{{ request.path }}/drafts">View Draft Problems</a>
                {% if check_perm(["ADMIN", "SUPERADMIN"]) %}
                    <a class="dropdown-item"
                       href="{{ request.path }}/notify">Notify Participants</a>
                {% endif %}
                <a class="dropdown-item"
                   href="/api/contest/scoreboard/{{ request.path[9:] }}?key={{ scoreboard_key }}"
                   target="_blank">View CTFtime Scoreboard</a>
            </div>
        </div>
    {% endif %}
</div>
<div style="overflow-x: auto;">
    <table class="table table-hover table-full-width">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 10%;">Status</th>
                <th scope="col" style="width: 60%;">Name</th>
                <th scope="col" style="width: 10%;">Category</th>
                <th scope="col" style="width: 10%;">Value</th>
                <th scope="col" style="width: 10%;">Users</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>
                    {% if row["solved"] %}
                        <img class="svg-green icon"
                             src="/assets/images/check.svg"
                             alt="Solved"
                             onerror="this.src='/assets/images/check.png'">
                    {% else %}
                        <img class="svg-red icon"
                             src="/assets/images/times.svg"
                             alt="Unsolved"
                             onerror="this.src='/assets/images/times.png'">
                    {% endif %}
                </td>
                <td><a href="{{ request.path }}/problem/{{ row['problem_id'] }}">
                    {{ row["name"] }}
                </a></td>
                <td>{{ row["category"] }}</td>
                {% if row["dynamic"] %}
                    <td title="This problem is dynamically scored">{{ row["point_value"] }}*</td>
                {% else %}
                    <td>{{ row["point_value"] }}</td>
                {% endif %}
                {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
                    <td><a href="/admin/submissions?problem_id={{ row['problem_id'] }}&contest_id={{ request.path[9:] }}&correct=AC">
                        {{ row["sols"] }}
                    </a></td>
                {% else %}
                    <td>{{ row["sols"] }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
