{% extends "layout.html" %}

{% block title %}Contests{% endblock %}
{% block active %}Contests{% endblock %}

{% block main %}
<h1>Future Contests</h1>
{% if future | length == 0 %}
	There are no future contests.
{% endif %}
{% for contest in future %}
    <link rel="preload" href="/api/contest/{{ contest['id'] }}" as="fetch" crossorigin="anonymous">
    <div class="card post-card" style="max-height: 600px;">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3><a href="/contest/{{ contest['id'] }}">{{ contest["name"] }}</a></h3>
        <p style="margin-bottom: 0;">Start: <span class="dt">{{ contest["start"] }}</span></p>
        <p style="margin-bottom: 0;">End: <span class="dt">{{ contest["end"] }}</span></p>
        <div id="contest-{{ contest['id'] }}" class="hidden smarkdown"></div>
        {% if session["admin"] %}
            <a href="/contest/{{ contest['id'] }}/edit"
               style="position: absolute; top: 12px; right: 36px;">
                <img src="/assets/images/pencil.svg"
                     onerror="this.src='/assets/images/pencil.png'"
                     alt="Edit contest"
                     class="icon">
            </a>
            <a href="/contest/{{ contest['id'] }}/delete"
               style="position: absolute; top: 12px; right: 16px;">
                <img src="/assets/images/trash.svg"
                     onerror="this.src='/assets/images/trash.png'"
                     alt="Delete contest"
                     class="icon">
            </a>
        {% endif %}
    </div>
{% endfor %}

<h1>Ongoing Contests</h1>
{% if current | length == 0 %}
	There are no ongoing contests.
{% endif %}
{% for contest in current %}
    <link rel="preload" href="/api/contest/{{ contest['id'] }}" as="fetch" crossorigin="anonymous">
    <div class="card post-card" style="max-height: 600px;">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3><a href="/contest/{{ contest['id'] }}">{{ contest["name"] }}</a></h3>
        <p style="margin-bottom: 0;">Start: <span class="dt">{{ contest["start"] }}</span></p>
        <p style="margin-bottom: 0;">End: <span class="dt">{{ contest["end"] }}</span></p>
        <div id="contest-{{ contest['id'] }}" class="hidden smarkdown"></div>
        {% if session["admin"] %}
            <a href="/contest/{{ contest['id'] }}/edit"
               style="position: absolute; top: 12px; right: 36px;">
                <img src="/assets/images/pencil.svg"
                     onerror="this.src='/assets/images/pencil.png'"
                     alt="Edit contest"
                     class="icon">
            </a>
            <a href="/contest/{{ contest['id'] }}/delete"
               style="position: absolute; top: 12px; right: 16px;">
                <img src="/assets/images/trash.svg"
                     onerror="this.src='/assets/images/trash.png'"
                     alt="Delete contest"
                     class="icon">
            </a>
        {% endif %}
    </div>
{% endfor %}

<h1>Past Contests</h1>
{% if past | length == 0 %}
	There are no past contests.
{% endif %}
{% for contest in past %}
    <link rel="preload" href="/api/contest/{{ contest['id'] }}" as="fetch" crossorigin="anonymous">
    <div class="card post-card" style="max-height: 600px;">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3><a href="/contest/{{ contest['id'] }}">{{ contest["name"] }}</a></h3>
        <p style="margin-bottom: 0;">Start: <span class="dt">{{ contest["start"] }}</span></p>
        <p style="margin-bottom: 0;">End: <span class="dt">{{ contest["end"] }}</span></p>
        <div id="contest-{{ contest['id'] }}" class="hidden smarkdown"></div>
        {% if session["admin"] %}
            <a href="/contest/{{ contest['id'] }}/edit"
               style="position: absolute; top: 12px; right: 36px;">
                <img src="/assets/images/pencil.svg"
                     onerror="this.src='/assets/images/pencil.png'"
                     alt="Edit contest"
                     class="icon">
            </a>
            <a href="/contest/{{ contest['id'] }}/delete"
               style="position: absolute; top: 12px; right: 16px;">
                <img src="/assets/images/trash.svg"
                     onerror="this.src='/assets/images/trash.png'"
                     alt="Delete contest"
                     class="icon">
            </a>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
{% block script %}
<script>
    {% for contest in future %}
        fetch("/api/contest/{{ contest['id'] }}").then(b => b.text())
            .then(b => inject(document.getElementById("contest-{{ contest['id'] }}"), b, true));
    {% endfor %}
    {% for contest in current %}
        fetch("/api/contest/{{ contest['id'] }}").then(b => b.text())
            .then(b => inject(document.getElementById("contest-{{ contest['id'] }}"), b, true));
    {% endfor %}
    {% for contest in past %}
        fetch("/api/contest/{{ contest['id'] }}").then(b => b.text())
            .then(b => inject(document.getElementById("contest-{{ contest['id'] }}"), b, true));
    {% endfor %}
</script>
{% endblock %}