{% extends "layout.html" %}

{% block title %}Contests{% endblock %}
{% block active %}Contests{% endblock %}

{% block main %}
<h1>Future Contests</h1>
{% if future | length == 0 %}
	There are no future contests.
{% endif %}
{% for contest in future %}
    <div class="card post-card" style="max-height: 600px;">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3><a href="/contest/{{ contest['id'] }}">{{ contest["name"] }}</a></h3>
        <p style="margin-bottom: 0;">Start: <span class="dt">{{ contest["start"] }}</span></p>
        <p style="margin-bottom: 0;">End: <span class="dt">{{ contest["end"] }}</span></p>
        <div id="contest-{{ contest['id'] }}" class="smarkdown"></div>
        {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
            <a href="/contest/{{ contest['id'] }}/edit"
               style="position: absolute; top: 12px; right: 36px;">
                <img src="/assets/images/pencil.svg"
                     onerror="this.src='/assets/images/pencil.png'"
                     alt="Edit contest"
                     class="icon">
            </a>
            <a href="/contest/{{ contest['id'] }}/delete"
               style="position: absolute; top: 12px; right: 16px;">
                <img src="/assets/images/trash.svg"
                     onerror="this.src='/assets/images/trash.png'"
                     alt="Delete contest"
                     class="icon">
            </a>
        {% endif %}
    </div>
{% endfor %}

<h1>Ongoing Contests</h1>
{% if current | length == 0 %}
	There are no ongoing contests.
{% endif %}
{% for contest in current %}
    <div class="card post-card" style="max-height: 600px;">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3><a href="/contest/{{ contest['id'] }}">{{ contest["name"] }}</a></h3>
        <p style="margin-bottom: 0;">Start: <span class="dt">{{ contest["start"] }}</span></p>
        <p style="margin-bottom: 0;">End: <span class="dt">{{ contest["end"] }}</span></p>
        <div id="contest-{{ contest['id'] }}" class="smarkdown"></div>
        {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
            <a href="/contest/{{ contest['id'] }}/edit"
               style="position: absolute; top: 12px; right: 36px;">
                <img src="/assets/images/pencil.svg"
                     onerror="this.src='/assets/images/pencil.png'"
                     alt="Edit contest"
                     class="icon">
            </a>
            <a href="/contest/{{ contest['id'] }}/delete"
               style="position: absolute; top: 12px; right: 16px;">
                <img src="/assets/images/trash.svg"
                     onerror="this.src='/assets/images/trash.png'"
                     alt="Delete contest"
                     class="icon">
            </a>
        {% endif %}
    </div>
{% endfor %}

<h1>Past Contests</h1>
{% if past | length == 0 %}
	There are no past contests.
{% endif %}
{% for contest in past %}
    <div class="card post-card" style="max-height: 600px;">
        <div class="see-more-wrapper">
            <a href="#" class="see-more" style="margin-left: 8px;">See More</a>
        </div>
        <h3><a href="/contest/{{ contest['id'] }}">{{ contest["name"] }}</a></h3>
        <p style="margin-bottom: 0;">Start: <span class="dt">{{ contest["start"] }}</span></p>
        <p style="margin-bottom: 0;">End: <span class="dt">{{ contest["end"] }}</span></p>
        <div id="contest-{{ contest['id'] }}" class="smarkdown"></div>
        {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
            <a href="/contest/{{ contest['id'] }}/edit"
               style="position: absolute; top: 12px; right: 36px;">
                <img src="/assets/images/pencil.svg"
                     onerror="this.src='/assets/images/pencil.png'"
                     alt="Edit contest"
                     class="icon">
            </a>
            <a href="/contest/{{ contest['id'] }}/delete"
               style="position: absolute; top: 12px; right: 16px;">
                <img src="/assets/images/trash.svg"
                     onerror="this.src='/assets/images/trash.png'"
                     alt="Delete contest"
                     class="icon">
            </a>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
{% block script %}
<script>
    const idList = []
    {% for contest in future %}
        idList.push("{{ contest['id'] }}");
    {% endfor %}
    {% for contest in current %}
        idList.push("{{ contest['id'] }}");
    {% endfor %}
    {% for contest in past %}
        idList.push("{{ contest['id'] }}");
    {% endfor %}
    fetch("/api/contests?id=" + idList).then(b => b.text())
            .then(b => JSON.parse(b)).then(b => {
        if (b["status"] !== "success") {
            console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
            return;
        }
        for (let id of idList) {
            inject(document.getElementById("contest-" + id), b["data"][id], false);
        }
        seeMore();
    });
    for (let node of document.getElementsByClassName("btn-delete")) {
        node.addEventListener("click", function() {
            let id = this.getAttribute("data-id");
            document.getElementById("confirm").style.display = "block";
            document.querySelector("#confirm input[name='aid']").setAttribute("value", id);
        });
    }
</script>
{% endblock %}