{% extends "layout.html" %}

{% block title %}{{ data["name"] }}{% endblock %}

{% block preload %}
<link rel="preload" href="/api/contest/{{ request.path.split('/')[2] }}/problem/description/{{ request.path.split('/')[4] }}" as="fetch" crossorigin="anonymous">
<link rel="preload" href="/api/contest/{{ request.path.split('/')[2] }}/problem/hints/{{ request.path.split('/')[4] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1>{{ data["name"] }}</h1>
{% if session["admin"] %}
    <div id="confirm" class="hidden">
        <form method="post" style="margin-bottom: 1rem;" action="{{ request.path }}/publish">
            <input class="btn btn-danger"
                   type="submit"
                   value="Are you sure you want to publish this problem? Click here to confirm.">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
{% endif %}
<div class="flex">
    <div style="flex: 3; padding: 4px; word-break: break-word; min-width: 0px;">
        <div id="problem-description" class="hidden"></div>
        <div id="hint-container">
            <a class="btn btn-secondary" id="togglehint">
                Show/Hide Hints
            </a>
            <div id="hint" class="card hidden"></div>
        </div>
    </div>
    <div style="flex: 1; padding: 4px;">
        <form autocomplete="off" method="post" style="margin-bottom: 0.5rem;">
            <input class="form-control"
                   name="flag"
                   placeholder="Flag"
                   style="margin-bottom: 0.5rem;"
                   required>
            <input class="btn btn-primary problem-submit-button" type="submit" value="Submit">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>

        <div>
            <b>Category:</b> {{ data["category"] }}<br>
            <b>Points:</b> {{ data["point_value"] }}<br>
            <a href="/contest/{{ request.path.split("/")[2] }}">Back to contest</a>
            {% if session["admin"] %}
                <br><a href="/admin/submissions?contest_id={{ request.path.split('/')[2] }}&problem_id={{ request.path.split('/')[4] }}">
                        View submissions
                    </a>
                <br><a href="{{ request.path }}/edit">Edit problem</a>
                <br><a href="{{ request.path }}/download">Download problem</a>
                {% if data["draft"] %}
                    <br><a href="#" id="btn-publish" onclick="">
                            Publish problem
                        </a>
                {% endif %}
                <br><a href="{{ request.path }}/export">Export problem</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const contestId = "{{ request.path.split('/')[2] }}";
    const problemId = "{{ request.path.split('/')[4] }}";
    fetch(`/api/contest/${contestId}/problem/description/${problemId}`).then(b => b.text())
        .then(b => inject(document.getElementById("problem-description"), b, true));
    fetch(`/api/contest/${contestId}/problem/hints/${problemId}`).then(b => b.text())
        .then(b => {
                if (b.length > 0) {
                    document.getElementById("hint-container").style.display = "block";
                    inject(document.getElementById("hint"), b, false);
                }
            });

    document.getElementById("togglehint").addEventListener("click", function() {
        document.getElementById("hint").classList.toggle("hidden");
    });
</script>
{% if data["draft"] %}
    <script>
        document.getElementById("btn-publish").addEventListener("click", function() {
            document.getElementById("confirm").style.display = "block";
        });
    </script>
{% endif %}
{% endblock %}