{% extends "layout.html" %}

{% block title %}Create Contest{% endblock %}
{% block active %}Contests{% endblock %}

{% block main %}
<h1>Create Contest</h1>
<form autocomplete="off" method="post">
    <div class="form-floating">
        <input class="form-control mb-3" name="contest_id" id="id" placeholder="Contest ID" required>
        <label for="id">Contest ID</label>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3" name="contest_name" id="name" placeholder="Contest Name" required>
        <label for="name">Contest Name</label>
    </div>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="description"
                  name="description"
                  rows="20"
                  placeholder="Description"
                  required></textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3"
               type="datetime-local"
               id="start"
               name="start"
               placeholder="Start Date & Time"
               required>
        <label for="start">Start Date & Time</label>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3"
               type="datetime-local"
               id="end"
               name="end"
               placeholder="End Date & Time"
               required>
        <label for="end">End Date & Time</label>
    </div>
    <div class="form-control mb-3" style="border: 0;">
        <input type="checkbox" id="scoreboard_visible" name="scoreboard_visible">
        <label for="scoreboard_visible">Scoreboard Visible?</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Create Contest">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    document.getElementById("description-out").attachShadow({mode: "open"});
    document.getElementById("description").addEventListener("input", function() {
        const outputDiv = document.getElementById("description-out");
        injectEditor(outputDiv, this.value);
        this.style.height = outputDiv.offsetHeight + "px";
    });

    document.querySelector("form").addEventListener("submit", function() {
        var formStart = document.getElementById("start");
        var start = new Date(formStart.value).toISOString();
        formStart.setAttribute("type", "text");
        formStart.value = start;

        var formEnd = document.getElementById("end");
        var end = new Date(formEnd.value).toISOString();
        formEnd.setAttribute("type", "text");
        formEnd.value = end;
    });
</script>
{% endblock %}
