{% extends "layout.html" %}

{% block title %}Create Problem{% endblock %}
{% block active %}Contests{% endblock %}

{% block main %}
<h1>Create Problem</h1>
<form autocomplete="off" method="post" enctype="multipart/form-data">
    <div class="form-floating">
        <input class="form-control mb-3" type="text" id="id" name="id" placeholder="Problem ID" required>
        <label for="id">Problem ID</label>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3" type="text" id="name" name="name" placeholder="Problem Name" required>
        <label for="name">Problem Name</label>
    </div>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="description"
                  name="description"
                  rows="20"
                  placeholder="Description"
                  required></textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="hints"
                  name="hints"
                  rows="20"
                  placeholder="Hints"></textarea>
        <div id="hints-out" class="md-preview"></div>
    </div>
    <div class="mb-3">
        Scoring: 
        <input class="form-check-input"
               type="radio"
               id="score_type_static"
               name="score_type"
               value="static"
               required>
        <label for="score_type_static">Static</label>
        <input class="form-check-input"
               type="radio"
               id="score_type_dynamic"
               name="score_type"
               value="dynamic" required>
        <label for="score_type_dynamic">Dynamic</label>
    </div>
    <div id="score-static">
        <div class="form-floating">
            <input class="form-control mb-3"
                   type="number"
                   name="point_value"
                   id="point_value"
                   placeholder="Point Value"
                   required>
            <label for="point_value">Point Value</label>
        </div>
    </div>
    <div id="score-dynamic" style="display: none">
        <div class="form-floating">
            <input class="form-control mb-3"
                   type="number"
                   id="min_point_value"
                   name="min_point_value"
                   placeholder="Min Point Value">
            <label for="min_point_value">Min Point Value</label>
        </div>
        <div class="form-floating">
            <input class="form-control mb-3"
                   type="number"
                   id="max_point_value"
                   name="max_point_value"
                   placeholder="Max Point Value">
            <label for="max_point_value">Max Point Value</label>
        </div>
        <div class="form-floating">
            <input class="form-control mb-3"
                   type="number"
                   id="users_point_value"
                   name="users_point_value"
                   placeholder="Users Before Decay">
            <label for="users_point_value">Users Before Decay</label>
        </div>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3" type="text" name="category" id="category" placeholder="Category" required>
        <label for="category">Category</label>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3" type="text" name="flag" id="flag" placeholder="Flag" required>
        <label for="category">Flag</label>
    </div>
    <div class="mb-3 toggle-input">
        <div>
            <span>Manual</span>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="toggle-flag-hint" checked>
            </div>
            <span>Automatic</span>
        </div>
        <input class="form-control" name="flag-hint" placeholder="Flag Hint" readonly>
    </div>
    <div class="mb-3 toggle-input">
        Requires Instancing? (you must create an entry in CTFOJ-Instancer matching this problem)
        <div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="instanced">
            </div>
        </div>
    </div>
    <input class="form-control mb-3" type="file" id="file" name="file" accept=".zip">
    <div class="form-control mb-3" style="border: 0;">
        <input type="checkbox" id="draft" name="draft">
        <label for="draft">Draft?</label>
    </div>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Create">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    let autoFlagHint = true;
    function updateFlagHint() {
        if (!autoFlagHint) return;
        let flag = document.querySelector("input[name=flag]").value;
        const regex = /^(.*\{).+\}$/;
        if (regex.test(flag)) {
            document.querySelector("input[name=flag-hint]").value = flag.replace(regex, "$1...}");
        } else {
            document.querySelector("input[name=flag-hint]").value = "";
        }
    }
    document.getElementById("toggle-flag-hint").addEventListener("input", function() {
        autoFlagHint = !autoFlagHint;
        document.querySelector("input[name=flag-hint]").toggleAttribute("readonly");
        updateFlagHint();
    });
    document.querySelector("input[name=flag]").addEventListener("input", updateFlagHint);

    document.getElementById("description-out").attachShadow({mode: "open"});
    document.getElementById("hints-out").attachShadow({mode: "open"});
    document.getElementById("description").addEventListener("input", function() {
        const outputDiv = document.getElementById("description-out");
        injectEditor(outputDiv, this.value);
        this.style.height = outputDiv.offsetHeight + "px";
    });
    document.getElementById("hints").addEventListener("input", function() {
        const outputDiv = document.getElementById("hints-out");
        injectEditor(outputDiv, this.value);
        this.style.height = outputDiv.offsetHeight + "px";
    });

    let score_types = document.querySelectorAll("input[name='score_type']");
    score_types[0].onclick = function() {
        document.getElementById("score-dynamic").style.display = "none";
        document.getElementById("score-static").style.display = "";
        document.getElementById("score-dynamic")
                .querySelectorAll("input")
                .forEach(e => e.removeAttribute("required"));
        document.getElementById("score-static")
                .querySelectorAll("input")
                .forEach(e => e.setAttribute("required", ""));
    }
    score_types[1].onclick = function() {
        document.getElementById("score-static").style.display = "none";
        document.getElementById("score-dynamic").style.display = "";
        document.getElementById("score-static")
                .querySelectorAll("input")
                .forEach(e => e.removeAttribute("required"));
        document.getElementById("score-dynamic")
                .querySelectorAll("input")
                .forEach(e => e.setAttribute("required", ""));
    }
</script>
{% endblock %}
