{% extends "layout.html" %}

{% block title %}Create Contest{% endblock %}

{% block main %}
<h1>Create Contest</h1>
<form autocomplete="off" method="post" id="create" name="create">
    <input class="form-control mb-3" name="contest_id" placeholder="Contest ID" required>
    <input class="form-control mb-3" name="contest_name" placeholder="Contest Name" required>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="description"
                  name="description"
                  rows="20"
                  placeholder="Description"
                  required></textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <input class="form-control mb-3 dtl"
           type="text"
           id="start"
           name="start"
           placeholder="Start Date & Time"
           required>
    <input class="form-control mb-3 dtl"
           type="text"
           id="end"
           name="end"
           placeholder="End Date & Time"
           required>
    <div class="form-control mb-3" style="border: 0;">
        <input type="checkbox" id="scoreboard_visible" name="scoreboard_visible">
        <label for="scoreboard_visible">Scoreboard Visible?</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Create Contest">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    document.querySelectorAll(".dtl").forEach(function(e) {
        e.addEventListener("focus", function() {
           this.setAttribute("type", "datetime-local");
        })
    })

    document.getElementById("description-out").attachShadow({mode: "open"});
    document.getElementById("description").oninput = function() {
        const outputDiv = document.getElementById("description-out");
        injectEditor(outputDiv, this.value);
        this.style.height = outputDiv.offsetHeight + "px";
    }

    document.getElementById('create').addEventListener('submit', function(event) {
        var formStart = document.getElementById("start");
        var start = new Date(formStart.value).toISOString();
        formStart.setAttribute("type", "text");
        formStart.value = start;

        var formEnd = document.getElementById("end");
        var end = new Date(formEnd.value).toISOString();
        formEnd.setAttribute("type", "text");
        formEnd.value = end;
    });
</script>
{% endblock %}
