{% extends "layout.html" %}

{% block title %}Edit Contest{% endblock %}

{% block preload %}
<link rel="preload" href="/api/contest/{{ request.path.split('/')[3] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1>Edit Contest</h1>
<form autocomplete="off" method="post" id="edit" name="edit">
    <input class="form-control mb-3"
           name="name"
           placeholder="Name"
           value="{{ data['name'] }}"
           required>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="description"
                  name="description"
                  rows="20"
                  placeholder="Description"
                  required></textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <input class="form-control mb-3 dtl"
           type="datetime-local"
           id="start"
           name="start"
           placeholder="Start Date & Time"
           value="{{ data['start'] }}"
           required>
    <input class="form-control mb-3 dtl"
           type="datetime-local"
           id="end"
           name="end"
           placeholder="End Date & Time"
           value="{{ data['end'] }}"
           required>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Edit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    const contest_id = "{{ request.path.split('/')[3] }}";
    const description = document.getElementById("description");
    const outputDiv = document.getElementById("description-out");
    outputDiv.attachShadow({mode: "open"});
    function update() {
        injectEditor(outputDiv, description.value);
        description.style.height = outputDiv.offsetHeight + "px";
    }
    description.addEventListener('input', update);

    document.querySelectorAll(".dtl").forEach(function (e) {
        var split = e.getAttribute("value").split(" ");
        var date_split = split[0].split("-");
        var final = date_split[1] + "/" + date_split[2] + "/" + date_split[0] + " " + split[1];
        var parsed = new Date(final + " UTC").toString().split(" ");
        e.value = `${ parsed[3] }-${ getMonthFromString(parsed[1]) }-${ parsed[2] }T${ parsed[4] }`;

        function getMonthFromString(mon) {
            var str = (new Date(Date.parse(mon +" 1, 2012")).getMonth() + 1).toString();
            return str.length == 2 ? str : "0" + str;
        }
    });

    document.getElementsByTagName("form")[0].onsubmit = function(event) {
        var formStart = this.querySelector("#start");
        var start = new Date(formStart.value).toISOString();
        formStart.setAttribute("type", "text");
        formStart.value = start;

        var formEnd = this.querySelector("#end");
        var end = new Date(formEnd.value).toISOString();
        formEnd.setAttribute("type", "text");
        formEnd.value = end;
    }

    fetch("/api/contest/" + contest_id).then(b => b.text())
        .then(b => {
            description.value = b;
            update();
        });
</script>
{% endblock %}
