{% extends "layout.html" %}

{% block title %}Edit Contest{% endblock %}
{% block active %}Contests{% endblock %}

{% block preload %}
<link rel="preload" href="/api/contests?id={{ request.path.split('/')[2] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1>Edit Contest</h1>
<form autocomplete="off" method="post">
    <div class="form-floating">
        <input class="form-control mb-3"
           name="name"
           id="name"
           placeholder="Contest Name"
           value="{{ data['name'] }}"
           required>
        <label for="name">Contest Name</label>
    </div>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="description"
                  name="description"
                  rows="20"
                  placeholder="Description"
                  required></textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3 dtl"
               type="datetime-local"
               id="start"
               name="start"
               placeholder="Start Date & Time"
               value="{{ data['start'] }}"
               required>
        <label for="start">Start Date & Time</label>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3 dtl"
               type="datetime-local"
               id="end"
               name="end"
               placeholder="End Date & Time"
               value="{{ data['end'] }}"
               required>
        <label for="end">End Date & Time</label>
    </div>
    <div class="form-control mb-3" style="border: 0;">
        <input type="checkbox" id="scoreboard_visible" name="scoreboard_visible" {% if data['scoreboard_visible'] %}checked{% endif %}>
        <label for="scoreboard_visible">Scoreboard Visible?</label>
    </div>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Edit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    const contestId = "{{ request.path.split('/')[2] }}";
    const description = document.getElementById("description");
    const outputDiv = document.getElementById("description-out");
    outputDiv.attachShadow({mode: "open"});
    function update() {
        injectEditor(outputDiv, description.value);
        description.style.height = outputDiv.offsetHeight + "px";
    }
    description.addEventListener("input", update);

    document.querySelectorAll(".dtl").forEach(function (e) {
        var split = e.getAttribute("value").split(" ");
        var dateSplit = split[0].split("-");
        var final = dateSplit[1] + "/" + dateSplit[2] + "/" + dateSplit[0] + " " + split[1];
        var parsed = new Date(final + " UTC").toString().split(" ");
        e.value = `${ parsed[3] }-${ getMonthFromString(parsed[1]) }-${ parsed[2] }T${ parsed[4] }`;

        function getMonthFromString(mon) {
            var str = (new Date(Date.parse(mon + " 1, 2012")).getMonth() + 1).toString();
            return str.length == 2 ? str : "0" + str;
        }
    });

    document.querySelector("form").onsubmit = function(event) {
        var formStart = this.querySelector("#start");
        var start = new Date(formStart.value).toISOString();
        formStart.setAttribute("type", "text");
        formStart.value = start;

        var formEnd = this.querySelector("#end");
        var end = new Date(formEnd.value).toISOString();
        formEnd.setAttribute("type", "text");
        formEnd.value = end;
    }

    fetch("/api/contests?id=" + contestId).then(b => b.text())
        .then(b => JSON.parse(b)).then(b => {
            if (b["status"] !== "success") {
                console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
                return;
            }
            description.value = b["data"][contestId];
            update();
        });
</script>
{% endblock %}
