{% extends "layout.html" %}

{% block title %}Edit {{ data["name"] }}{% endblock %}
{% block active %}Contests{% endblock %}

{% block preload %}
<link rel="preload" href="/api/contest/problem/description?cid={{ request.path.split('/')[2] }}&pid={{ request.path.split('/')[4] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1>Edit {{ data["name"] }}</h1>
<form autocomplete="off" method="post">
     <div class="form-floating">
        <input class="form-control mb-3"
               name="name"
               id="name"
               value="{{ data['name'] }}"
               placeholder="Name"
               required>
        <label for="name">Problem Name</label>
    </div>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="description"
                  name="description"
                  rows="20"
                  placeholder="Description"
                  required></textarea>
        <div id="description-out" class="md-preview"></div>
    </div>
    <div style="display: flex;">
        <textarea class="form-control mb-3 md-preview"
                  id="hints"
                  name="hints"
                  rows="20"
                  placeholder="Hints"></textarea>
        <div id="hints-out" class="md-preview"></div>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3"
               name="category"
               id="category"
               value="{{ data['category'] }}"
               placeholder="Category"
               required>
        <label for="category">Category</label>
    </div>
    <div style="position: relative;">
        <div class="form-floating">
            <input class="form-control mb-3" id="flag" name="flag" placeholder="New Flag (optional)">
            <label for="flag">New Flag (optional)</label>
        </div>
        <div style="position: absolute; right: 0; top: 0; width: initial;" class="form-control">
            <input type="checkbox" id="rejudge" name="rejudge">
            <label for="rejudge">Rejudge?</label>
        </div>
    </div>
    <div class="mb-3 toggle-input">
        <div>
            <span>Manual</span>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="toggle-flag-hint" checked>
            </div>
            <span>Automatic</span>
        </div>
        <input class="form-control" name="flag-hint" placeholder="Flag Hint" readonly>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3"
               type="number"
               id="point_value"
               name="point_value"
               value="{{ data['point_value'] }}"
               placeholder="Point Value"
               {{ 'disabled' if data['score_users'] and data['score_users'] > 0 }}
               required>
        <label for="point_value">Point Value</label>
    </div>
    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    let autoFlagHint = true;
    function updateFlagHint() {
        if (!autoFlagHint) return;
        let flag = document.querySelector("input[name=flag]").value;
        const regex = /^(.*\{).+\}$/;
        if (regex.test(flag)) {
            document.querySelector("input[name=flag-hint]").value = flag.replace(regex, "$1...}");
        } else {
            document.querySelector("input[name=flag-hint]").value = "";
        }
    }
    document.getElementById("toggle-flag-hint").addEventListener("input", function() {
        autoFlagHint = !autoFlagHint;
        document.querySelector("input[name=flag-hint]").toggleAttribute("readonly");
        updateFlagHint();
    });
    document.querySelector("input[name=flag]").addEventListener("input", updateFlagHint);
    
    const contestId = "{{ request.path.split('/')[2] }}";
    const problemId = "{{ request.path.split('/')[4] }}";
    const description = document.getElementById("description");
    const hints = document.getElementById("hints");
    document.getElementById("description-out").attachShadow({mode: "open"});
    document.getElementById("hints-out").attachShadow({mode: "open"});

    function updateDescription() {
        const outputDiv = document.getElementById("description-out");
        injectEditor(outputDiv, description.value);
        description.style.height = outputDiv.offsetHeight + "px";
    }
    description.addEventListener('input', updateDescription);

    function updateHints() {
        const outputDiv = document.getElementById("hints-out");
        injectEditor(outputDiv, hints.value);
        hints.style.height = outputDiv.offsetHeight + "px";
    }
    hints.addEventListener('input', updateHints);

    fetch(`/api/contest/problem?cid=${contestId}&pid=${problemId}`).then(b => b.text())
            .then(b => JSON.parse(b)).then(b => {
        if (b["status"] !== "success") {
            console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
            return;
        }
        description.value = b["data"]["description"];
        updateDescription();
        hints.value = b["data"]["hints"];
        updateHints();
    });
</script>
{% endblock %}
