{% extends "contest/layout.html" %}

{% block title %}{{ title }} Draft Problems{% endblock %}
{% block active %}Contests{% endblock %}

{% block main %}
<h1>{{ title }} Draft Problems</h1>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td><a href="{{ request.path[:-7] }}/problem/{{ row["problem_id"] }}">
                {{ row["name"] }}
            </a></td>
            <td>{{ row["category"] }}</td>
            {% if row["dynamic"] %}
                <td title="This problem is dynamically scored">{{ row["point_value"] }}D</td>
            {% else %}
                 <td>{{ row["point_value"] }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
