{% extends "contest/layout.html" %}

{% block title %}{{ title }} Scoreboard{% endblock %}
{% block active %}Contest Leaderboard{% endblock %}

{% block main %}
<h1><a href="{{ request.path[:-11] }}">{{ title }}</a></h1>
{% if check_perm(["ADMIN", "SUPERADMIN"]) %}
    <div id="confirm" class="hidden">
        <form method="post" style="margin-bottom: 1rem;">
            <input type="hidden" name="user_id">
            <input class="btn btn-danger" type="submit">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
{% endif %}
<div style="overflow-x: auto;">
    <table class="table table-hover table-full-width">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 12%;">Rank</th>
                <th scope="col" style="width: 40%;">Username</th>
                <th scope="col" style="width: 18%;">Points</th>
                <th scope="col" style="width: 30%;">Most recent AC submission</th>
                {% if check_perm(["ADMIN", "SUPERADMIN"]) %}
                    <th scope="col" style="width: 10%">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(data | length) %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td class="username">{{ data[i]["username"] }}</td>
                <td>{{ data[i]["points"] }}</td>
                {% if data[i]["lastAC"] %}
                    <td class="dt">{{ data[i]["lastAC"] }}</td>
                {% else %}
                    <td>None</td>
                {% endif %}
                {% if check_perm(["ADMIN", "SUPERADMIN"]) %}
                    <td data-id="{{ data[i]['user_id'] }}" data-username="{{ data[i]['username'] }}">
                        <a href="#">
                            <img src="/assets/images/restrict.svg"
                                 class="svg-red icon scoreboard-ban"
                                 alt="Disqualify user"
                                 title="Disqualify user">
                        </a>
                        <a href="#">
                            <img src="/assets/images/ghost.svg"
                                 class="icon scoreboard-hide"
                                 alt="Hide user"
                                 title="Hide user">
                        </a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if hidden %}
    <h1>Hidden Users</h1>
    <div style="overflow-x: auto;">
        <table class="table table-hover table-full-width">
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="width: 12%;">Rank</th>
                    <th scope="col" style="width: 40%;">Username</th>
                    <th scope="col" style="width: 18%;">Points</th>
                    <th scope="col" style="width: 30%;">Most recent AC submission</th>
                    {% if check_perm(["ADMIN", "SUPERADMIN"]) %}
                        <th scope="col" style="width: 10%">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for i in range(hidden | length) %}
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td class="username">{{ hidden[i]["username"] }}</td>
                    <td class="{{ 'user-ban' if hidden[i]['hidden'] == 2 }}">{{ hidden[i]["points"] }}</td>
                    {% if hidden[i]["lastAC"] %}
                        <td class="dt">{{ hidden[i]["lastAC"] }}</td>
                    {% else %}
                        <td>None</td>
                    {% endif %}
                    {% if check_perm(["ADMIN", "SUPERADMIN"]) %}
                        <td data-id="{{ hidden[i]['user_id'] }}" data-username="{{ hidden[i]['username'] }}">
                            {% if hidden[i]['hidden'] == 1 %}
                                <a href="#">
                                    <img src="/assets/images/restrict.svg"
                                        class="svg-red icon scoreboard-ban"
                                        alt="Ban user"
                                        title="Ban user">
                                </a>
                                <a href="#">
                                    <img src="/assets/images/ghost.svg"
                                        class="icon scoreboard-unhide"
                                        alt="Unhide user"
                                        title="Unhide user">
                                </a>
                            {% elif hidden[i]['hidden'] == 2 %}
                                <a href="#">
                                    <img src="/assets/images/restrict.svg"
                                        class="svg-red icon scoreboard-unban"
                                        alt="Unban user"
                                        title="Unban user">
                                </a>
                                <a href="#">
                                    <img src="/assets/images/ghost.svg"
                                        class="icon scoreboard-hide"
                                        alt="Hide user"
                                        title="Hide user">
                                </a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
{% block script %}
{% if check_perm(["ADMIN", "SUPERADMIN"]) %}
    <script>
        const path = "{{ request.path }}";
        const confirmDiv = document.getElementById("confirm");
        for (let node of document.getElementsByClassName("scoreboard-ban")) {
            node.parentElement.addEventListener("click", function() {
                var username = this.parentElement.getAttribute("data-username");
                var userId = this.parentElement.getAttribute("data-id");
                confirmDiv.style.display = "block";
                confirmDiv.querySelector(".btn")
                        .setAttribute("value", `Are you sure you want to ban ${username}? ` +
                                               "Click here to confirm");
                confirmDiv.querySelector("input[name=user_id]").setAttribute("value", userId);
                confirmDiv.querySelector("form").setAttribute("action", path + "/ban");
            });
        }
        for (let node of document.getElementsByClassName("scoreboard-unban")) {
            node.parentElement.addEventListener("click", function() {
                var username = this.parentElement.getAttribute("data-username");
                var userId = this.parentElement.getAttribute("data-id");
                confirmDiv.style.display = "block";
                confirmDiv.querySelector(".btn")
                        .setAttribute("value", `Are you sure you want to unban ${username}? ` +
                                               "Click here to confirm");
                confirmDiv.querySelector("input[name=user_id]").setAttribute("value", userId);
                confirmDiv.querySelector("form").setAttribute("action", path + "/unban");
            });
        }
        for (let node of document.getElementsByClassName("scoreboard-hide")) {
            node.parentElement.addEventListener("click", function() {
                var username = this.parentElement.getAttribute("data-username");
                var userId = this.parentElement.getAttribute("data-id");
                confirmDiv.style.display = "block";
                confirmDiv.querySelector(".btn")
                        .setAttribute("value", `Are you sure you want to hide ${username}'s score? ` +
                                               "Click here to confirm");
                confirmDiv.querySelector("input[name=user_id]").setAttribute("value", userId);
                confirmDiv.querySelector("form").setAttribute("action", path + "/hide");
            });
        }
        for (let node of document.getElementsByClassName("scoreboard-unhide")) {
            node.parentElement.addEventListener("click", function() {
                var username = this.parentElement.getAttribute("data-username");
                var userId = this.parentElement.getAttribute("data-id");
                confirmDiv.style.display = "block";
                confirmDiv.querySelector(".btn")
                        .setAttribute("value", `Are you sure you want to unhide ${username}'s score? ` +
                                               "Click here to confirm");
                confirmDiv.querySelector("input[name=user_id]").setAttribute("value", userId);
                confirmDiv.querySelector("form").setAttribute("action", path + "/unhide");
            });
        }
    </script>
{% endif %}
{% endblock %}
