*                           @jdabtieu


LICENSE                     @ComputerGenius152  
/src/templates/terms.html   @ComputerGenius152
/src/templates/privacy.html @ComputerGenius152
/src/default_settings.py    @ComputerGenius152
/src/tests                  @ComputerGenius152
