# Problem files
/dl/
/metadata/

# Database
/database.db
/database.db.bak

# Python Cache
/__pycache__/
/tests/__pycache__/
.pytest_cache/

# Private config
/settings.py
/secret_key.txt
/static/favicon.png
/maintenance_mode
/templates/unauth_index.html

# Logs
/logs/

# Coverage reports
.coverage
coverage.xml

# Testing artifacts
/database_test.db
/database_test.db-journal
test_upload.txt
